// LAYOUT
$full-height: 100vh;
$full-width: 100vw;
$nav-height: 12vh;
$transition: 800ms;

// FONTS
$main-font: Poppins, sans-serif;
$heading-font: "Cal Sans", sans-serif;
$bold-weight: 600;

// FONT SIZES
$big: var(--big-font);
$medium: var(--medium-font);
$normal: var(--normal-font);
$small: var(--small-font);

// COLORS
$main-color: #DD4083;
$dark-color: rgb(29, 29, 29);
$blue: rgb(89, 136, 183);
$text-b: black;
$text-w: white;
$background: #f9f7f3;
