
#hero-section {
  @include flex(column);
  @extend %light-background;
  height: $full-height;
  z-index: -100;
  position: relative;
  box-sizing: border-box;

  .hero_title {
    animation: fade-in 500ms ease forwards, slide-in-left 1000ms ease forwards;
    h1 {
      z-index: 2;
      font-size: $big;
      line-height: 80%;
      margin: 0;
      text-shadow: 2px 2px 0 white;
      letter-spacing: -5px;
      text-transform: uppercase;
      font-weight: 1000;
    }

    h2 {
      margin: 0;
      text-align: right;
      width: 100%;
      @extend %small-heading;
    }
  }

  .hero_right-container {
    @include flex(column);
    position: absolute;
    transform: translateX($full-width);
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: $dark-color;

    .hero__photo {
      width: 50%;
      height: 60%;
      @include background-cover('../../img/c8bb9e7a2105ebb57e7a7638dcae825d.jpg');
    }
  }

  .hero_bcg-line {
    position: absolute;
    top: -10;
    left: 50%;
    z-index: -1;
    background-color: $main-color;
    width: 25vw;
    height: 200vw;
    transform: rotate(60deg);
  }

  .hero_left-container {
    @include flex();
    position: absolute;
    z-index: 1000;
    width: 42vw;
    bottom: 0;
    left: 4vw;
    margin-bottom: 12vh;
    transform: translateX(-$full-width);
    @extend %light-background;
    border: $dark-color solid 1px;

    p {
      color: $dark-color;
      margin: .8rem 1rem;
      font-size: $normal;
      text-align: justify;
    }
  }

  &.animated::after {
    transform: rotate(45deg);
    translate: 25% 25%;
  }

}

// Mobile hero section
#hero-section-mobile-tablet {
  width: 100vw;
  height: 100vh;


  .hero_container {
    @extend %light-background;
    position: relative;
    width: 100%;
    height: 100%;
    @include flex(column);
    gap: 1rem;
    z-index: -10;

    .hero_title {
      @include flex(column);

      h1 {
        z-index: 2;
        font-size: $big;
        line-height: 80%;
        margin: 0;
        text-shadow: 2px 0 0 white;
        font-weight: 1000;
        text-transform: uppercase;
      }
    }

    .hero-mobile_bcg-line {
      position: absolute;
      top: 50vh;
      left: 50vw;
      transform: translate(-50%, -50%) rotate(-135deg);
      z-index: -1;
      background-color: $main-color;
      width: 50vw;
      height: 150vh;
    }

    .hero_container {
      @extend %light-background;
      border: $dark-color solid 1px;
      width: 80%;
      height: fit-content;
      z-index: 10;

      p {
        color: $dark-color;
        margin: .8rem 1rem;
        font-size: $normal;
        text-align: justify;
        z-index: 10;
      }
    }
  }
}


// RESPONSIVITY
#hero-section{
  @include responsive(laptop){
    .hero_left-container {
      left: 5vw;
      width: 40vw;
    }
  }

  @include responsive(tablet) {
    .hero_left-container {
      left: 2.25vw;
      width: 45vw;
      margin-bottom: 10vh;
    }
  }

  @include responsive(portrait) {
    display: none;

    @media only screen and (max-width: 700px) {

      #hero-section {
        .hero_left-container {
          left: 2.25vw;
          width: 45vw;
          margin-bottom: 25vh;
        }
      }
    }
  }
}


@include responsive(portrait) {
  #hero-section-mobile-tablet {
    height: 100vh;
    width: 100vw;

    .hero_container {
      .hero_title h2 {
        font-size: var(--normal-font);
      }
    }
  }
}

