
// MAIN PROJECTS SECTION WRAPPER
#projects-section {
  width: $full-width;
  height: 80vh;
  background-color: $dark-color;
  color: white;
  position: relative;

  // PROJECTS NAVIGATION LINK
  .a-projects{
    position: absolute;
    bottom: 8%;
    left: 0;
    z-index: 100;
    width: 100vw;
    @include flex();
    @extend %normal-font;

    // LINK STYLING
    a{
      color: white;
      text-decoration: none;
      position: relative;
      transition: 300ms;
      transform: translateY(0);
      @include flex($gap: .25rem);

      // HOVER EFFECTS - SCALE AND UNDERLINE
      &:hover {
        transform: scale(1.1);

        &::after {
          width: 55%;
        }
      }

      //  LINK UNDERLINE
      &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 10%;
        height: 3px;
        border-radius: 10px;
        width: 0;
        background-color: $main-color;
        transition: 300ms;
      }

      // CUSTOM BULLET POINT
      .outer {
        width: 1rem;
        height: 1rem;
        background-color: $main-color-low-opacity;
        border-radius: 50%;
        @include flex();

        .inner {
          height: 50%;
          width: 50%;
          border-radius: 50%;
          background-color: $main-color;
        }
      }

      &.inactive{
        transform: translateY(-500%);
        opacity: 0;
      }
    }
  }

  // MAIN PROJECTS CONTAINER
  .projects-section__container {
    height: 100%;
    width: 100%;
    @include flex();
    gap: 1rem;

    & > div {
      width: 50%;
      height: 100%;
      margin: 0;
      @include flex();

      & > * {
        width: 100%;
      }

      &.projects-section_right .project_img a.active {
        animation-delay: 200ms;
      }

      .project_img {
        @include flex(column, flex-end, center, 0);
        width: 90%;
        height: 100%;

        div {
          height: 20%;
          width: 100%;
          background-color: $dark-color;
        }

        // Z-INDEX FOR LAYERING
        & > span,
        div {
          z-index: 5;
        }

        // PROJECT TITLE AT TOP
        & > span:nth-child(1) {
          font-size: $normal;
          width: 100%;
          padding-left: 2px;
          @include flex(row, flex-start, flex-end);
        }


        // BACKGROUND IMAGES FOR PROJECTS
        &_1{
          @include background-cover("../../img/projects/radianthq-sc.webp");
        }
        &_2{
          @include background-cover("../../img/projects/lucidify.webp");
        }

        // PROJECT LINK/IMAGE ELEMENT
        a {
          cursor: pointer;
          width: 100%;
          max-width: 40rem;
          aspect-ratio: 16 / 9;
          position: relative;
          transform: translateY(100%); // START BELOW VIEW


          // SLIDE UP ANIMATION WHEN ACTIVE
          &.active {
            animation: slide-up 1000ms ease forwards;
          }

          // SLIDE DOWN ANIMATION WHEN INACTIVE
          &.inactive {
            animation: slide-down 1000ms ease forwards;
          }

          // WHITE TEXT COLOR FOR ALL CHILDREN
          * {
            color: white;
          }

          // PROJECT DESCRIPTION OVERLAY
          p {
            position: absolute;
            width: 100%;
            margin: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.42);
            @include flex(column);
            text-align: justify;
            font-size: $small;
            padding: 2rem;
            transition: 300ms;
            opacity: 0;
          }

          // CUSTOM ICON
          svg {
            position: absolute;
            right: 0;
            top: 0;
            margin: 1rem;
            transition: 300ms;
            opacity: 0;
            color: white;
            width: 2%;
          }

          p.active, svg.active {
            opacity: 1;
          }
        }

        & > span:nth-child(3) {
          font-size: $small;
          width: 100%;
          @include flex(row, space-between, flex-start);

          p {
            margin: 0;
          }

          background-color: $dark-color;
        }
      }
    }

    figcaption {
      height: 40%;
      width: 80%;
    }
  }
}


// MOBILE AND TABLET RESPONSIVE STYLES
@include responsive(mobile-tablet) {
  #projects-section {
    padding-top: 10vw;
    padding-bottom: 10vw;

    .projects-section__container > div {
      height: fit-content;
      .project_img {
        @include flex(column);
        a {
          transform: translateY(0);
        }

        div {
          display: none;
        }
      }
    }
  }
  @media (min-width: 600px) {
    #projects-section {
      height: 50vw;
      .projects-section__container {
        flex-direction: row;
      }
    }
  }
}

@include responsive(portrait){
  #projects-section {
    height: 150vw;
    .a-projects{
      bottom: 5%;
    }
    .projects-section__container {
      flex-direction: column;

      & > div {
        width: 80%;
      }
    }
  }
}