
#temporary-name {
  width: $full-width;
  height: 80vh;
  background-color: $dark-color;
  color: white;
  position: relative;

  .a-projects{
    position: absolute;
    bottom: 8%;
    left: 0;
    z-index: 100;
    width: 100vw;
    @include flex();
    @extend %normal-font;

    a{
      color: white;
      text-decoration: none;
      position: relative;
      transition: 300ms;

      transform: translateY(0);

      &.inactive{
        transform: translateY(-500%);
        opacity: 0;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 3px;
        background-color: $main-color;
        border-radius: 5px;
        transition: 300ms;
      }
      &:hover{
        transform: scale(1.2);
      }
      &:hover::after{
        width: 100%;
      }
    }
  }
  .temporary-name__container {
    height: 100%;
    width: 100%;
    @include flex();
    gap: 1rem;

    & > div {
      width: 50%;
      height: 100%;
      margin: 0;
      @include flex();

      & > * {
        width: 100%;
      }

      &.temporary-name_right .project_img a.active {
        animation-delay: 200ms;
      }

      .project_img {
        @include flex(column, flex-end, center, 0);
        width: 90%;
        height: 100%;

        div {
          height: 20%;
          width: 100%;
          background-color: $dark-color;
        }

        & > span,
        div {
          z-index: 5;
        }

        & > span:nth-child(1) {
          font-size: $normal;
          width: 100%;
          padding-left: 2px;
          @include flex(row, flex-start, flex-end);
        }

        &_1{
          @include background-cover("../../img/projects/radianthq-sc.webp");
        }
        &_2{
          @include background-cover("../../img/projects/lucidify.webp");
        }

        a {
          cursor: pointer;
          width: 100%;
          max-width: 40rem;
          aspect-ratio: 16 / 9;
          position: relative;
          transform: translateY(100%);


          &.active {
            animation: slide-up 1000ms ease forwards;
          }

          &.inactive {
            animation: slide-down 1000ms ease forwards;
          }

          * {
            color: white;
          }

          p {
            position: absolute;
            width: 100%;
            margin: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.42);
            @include flex(column);
            text-align: justify;
            font-size: $small;
            padding: 2rem;
            transition: 300ms;
            opacity: 0;
          }

          svg {
            position: absolute;
            right: 0;
            top: 0;
            margin: 1rem;
            transition: 300ms;
            opacity: 0;
            color: white;
            width: 2%;
          }

          p.active, svg.active {
            opacity: 1;
          }
        }

        & > span:nth-child(3) {
          font-size: $small;
          width: 100%;
          @include flex(row, space-between, flex-start);

          p {
            margin: 0;
          }

          background-color: $dark-color;
        }
      }
    }

    figcaption {
      height: 40%;
      width: 80%;
    }
  }
}

@include responsive(mobile-tablet) {
  #temporary-name {
    padding-top: 10vw;
    padding-bottom: 10vw;

    .temporary-name__container > div {
      height: fit-content;
      .project_img {
        @include flex(column);
        a {
          transform: translateY(0);
        }

        div {
          display: none;
        }
      }
    }
  }
  @media (min-width: 600px) {
    #temporary-name {
      height: 50vw;
      .temporary-name__container {
        flex-direction: row;
      }
    }
  }
}

@include responsive(portrait){
  #temporary-name {
    height: 150vw;
    .a-projects{
      bottom: 5%;
    }
    .temporary-name__container {
      flex-direction: column;

      & > div {
        width: 80%;
      }
    }
  }
}