body {
  overflow-x: hidden;
  width: 100vw;
}

body.loading {
  overflow: hidden;
}

:root {
  font-size: 20px;
}

.light-mode {
  --background-color: white;
  --text-color: black;
  --border: black;
  --main-color: #DD4083;
  --title: black;
}

.dark-mode {
  --background-color: rgb(29, 29, 29);
  --text-color: rgb(189, 188, 188);
  --border: rgb(179, 175, 175);
  --main-color: rgb(89, 136, 183);
  --divider: rgb(179, 175, 175);
}

@font-face {
  font-family: moonget;
  src: url(fonts/moon_get/moon_get-Heavy.ttf);
}
.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.bagel-fat-one-regular {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: monospace;
  background-color: var(--background-color);
  color: black;
  width: 100vw;
  height: 2000px;
}
body.no-scroll {
  overflow: hidden;
}
body section {
  min-height: 88vh;
}

.mode-toggle {
  z-index: 90;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2rem;
  width: 5rem;
  height: 2rem;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  cursor: pointer;
  font-size: 0.6rem;
  font-family: monospace;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  position: fixed;
  height: 12vh;
  width: 100%;
  z-index: 10000;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border);
  box-sizing: border-box;
  transition: 500ms;
}
.navbar .nav-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px 20px;
  position: relative;
}
.navbar .nav-content {
  transition: 500ms;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
  border: 1px solid var(--border);
}
.navbar .nav-content a {
  text-align: center;
  width: 5.5rem;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem;
}
.navbar .nav-content a:hover {
  background-color: var(--main-color);
  color: white;
}
.navbar .nav-content a:not(.contact-link) {
  border-right: 1px solid var(--border);
}
.navbar .nav-content a:nth-child(1):not(.logo), .navbar .nav-content .contact-link {
  border-left: 1px solid var(--border);
}
.navbar .nav-content .nav-links a {
  margin: -6px;
}
.navbar .nav-content-scrolled {
  transition: 500ms;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-20vw);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar .nav-content-scrolled a {
  text-decoration: none;
}
.navbar .nav-content-scrolled > span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1vh;
}
.navbar .nav-content-scrolled > span .menu-holder {
  background-color: rgba(0, 0, 0, 0);
  font-size: 1rem;
  font-family: monospace;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.navbar .nav-content-scrolled > span .menu-holder:hover .menu-button span {
  transform: translateY(-1.2em);
}
.navbar .nav-content-scrolled > span .menu-holder .menu-1 {
  display: flex;
  overflow: hidden;
  /*
  &::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #DD4083;
      width: 0%;
      height: 3px;
      border-radius: 75px;
      transition: 500ms;
  }
  &:hover::after{
      width: 100%;
  } */
}
.navbar .nav-content-scrolled > span .menu-holder .menu-1:hover {
  position: absolute;
}
.navbar .nav-content-scrolled > span .menu-holder .menu-1 span {
  color: var(--text-color);
  transform: translateY(0);
}
.navbar .nav-content-scrolled > span .menu-holder .menu-1 span:nth-child(1) {
  transition: 0.2s;
}
.navbar .nav-content-scrolled > span .menu-holder .menu-1 span:nth-child(2) {
  transition: 0.3s;
}
.navbar .nav-content-scrolled > span .menu-holder .menu-1 span:nth-child(3) {
  transition: 0.4s;
}
.navbar .nav-content-scrolled > span .menu-holder .menu-1 span:nth-child(4) {
  transition: 0.5s;
}
.navbar .nav-content-scrolled > span .menu-holder .menu-1 span:nth-child(5) {
  transition: 0.6s;
}
.navbar .nav-content-scrolled > span .menu-holder .menu-1 span:nth-child(6) {
  transition: 0.7s;
}
.navbar .nav-content-scrolled > span .menu-holder .menu-2 {
  color: var(--text-color);
  display: flex;
  position: absolute;
  overflow: hidden;
}
.navbar .nav-content-scrolled > span .menu-holder .menu-2 span {
  transform: translateY(1.2em);
}
.navbar .nav-content-scrolled > span .menu-holder .menu-2 span:nth-child(1) {
  transition: 0.2s;
}
.navbar .nav-content-scrolled > span .menu-holder .menu-2 span:nth-child(2) {
  transition: 0.3s;
}
.navbar .nav-content-scrolled > span .menu-holder .menu-2 span:nth-child(3) {
  transition: 0.4s;
}
.navbar .nav-content-scrolled > span .menu-holder .menu-2 span:nth-child(4) {
  transition: 0.5s;
}
.navbar .nav-content-scrolled > span .menu-holder .menu-2 span:nth-child(5) {
  transition: 0.6s;
}
.navbar .nav-content-scrolled > span .menu-holder .menu-2 span:nth-child(6) {
  transition: 0.7s;
}
.navbar .nav-content-scrolled > span .menu-holder .menu-2:hover span {
  transform: translateY(0);
}
.navbar .nav-content-scrolled > span .pos-span {
  padding-left: 2vh;
}

.navbar.scrolled {
  height: 4vh;
}
.navbar.scrolled .nav-content {
  transform: translateY(-13vh);
}
.navbar.scrolled .nav-content-scrolled {
  display: flex;
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.navbar.active {
  height: 100vh;
}

#intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  height: 100vh;
}
#intro-section h1 {
  z-index: 2;
  font-size: 8rem;
  line-height: 80%;
  text-shadow: 2px 0px 0px white;
  margin: 0;
}
#intro-section h2 {
  z-index: 2;
  margin: 1rem;
  text-align: right;
  width: 60%;
}
#intro-section::after {
  content: "";
  position: absolute;
  top: 0;
  height: 220%;
  width: 25vw;
  z-index: 1;
  background-color: var(--main-color);
  transform: rotate(60deg);
  translate: 0% -25%;
}

#hero-section {
  display: flex;
  height: 100vh;
}
#hero-section .hero-left {
  position: relative;
  height: 100%;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
#hero-section .hero-left .hero-title {
  height: 25%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero-section .hero-left .hero-title h1 {
  text-transform: uppercase;
  margin: 0;
  text-shadow: 2px 0px 0px white;
  line-height: 3.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#hero-section .hero-left .hero-title h1 span {
  color: var(--title);
}
#hero-section .hero-left .hero-title h1 span:nth-child(1) {
  font-size: 4.2rem;
}
#hero-section .hero-left .hero-title h1 span:nth-child(2) {
  font-size: 4rem;
}
#hero-section .hero-left .hero-title h2 {
  margin: 0;
  width: 100%;
  text-align: center;
}
#hero-section .hero-left .hero-paragraph {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-bottom: 5rem;
  background-color: var(--background-color);
  border: var(--border) solid 1px;
}
#hero-section .hero-left .hero-paragraph p {
  color: var(--text-color);
  margin: 1rem;
  font-size: 0.8rem;
  text-align: justify;
}
#hero-section .hero-left::after {
  content: "";
  position: absolute;
  height: 200%;
  width: 25vw;
  z-index: -1;
  background-color: var(--main-color);
  transform: rotate(45deg);
  translate: 25% 25%;
}
#hero-section .hero-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 29, 29);
  width: 50vw;
  height: 100%;
  border-left: var(--divider) solid 1px;
}
#hero-section .hero-right .hero-photo {
  margin-top: 12vh;
  position: relative;
  width: 50%;
  height: 60%;
  background-image: url(img/c8bb9e7a2105ebb57e7a7638dcae825d.jpg);
  background-size: cover;
}
#hero-section .hero-right .hero-photo .photo-text {
  position: absolute;
  bottom: -30%;
  right: 0;
  font-size: 3rem;
  text-shadow: 2px 0px 0px white;
}
#hero-section .hero-right .hero-photo .photo-text h2 {
  color: var(--main-color);
}

#aboutme-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  border-top: var(--border) solid 1px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
}
#aboutme-section .a-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}
#aboutme-section .a-content .a-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4rem;
  height: 80%;
  width: 100%;
}
#aboutme-section .a-content .a-top .a-photo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 30rem;
  background-color: #DD4083;
}
#aboutme-section .a-content .a-top .a-bio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 4rem;
  font-size: 25px;
}
#aboutme-section .a-content .a-top .a-bio * {
  margin: 0;
  color: var(--text-color);
}
#aboutme-section .a-content .a-top .a-bio p {
  font-size: 1em;
}
#aboutme-section .a-content .a-top .a-bio div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}
#aboutme-section .a-content .a-top .a-bio div > span {
  margin-left: 5rem;
  font-size: 1.2em;
  height: 5rem;
}
#aboutme-section .a-content .a-top .a-bio div:nth-child(4) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0;
  text-align: right;
}
#aboutme-section .a-content .a-top .a-bio div:nth-child(4) a {
  position: relative;
  text-decoration: none;
  transition: 300ms;
}
#aboutme-section .a-content .a-top .a-bio div:nth-child(4) a div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0;
  color: rgba(0, 0, 0, 0.327);
  transition: 300ms;
}
#aboutme-section .a-content .a-top .a-bio div:nth-child(4) a::after {
  content: "";
  position: absolute;
  top: 55%;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 40px;
  background-color: black;
  transition: 300ms;
}
#aboutme-section .a-content .a-top .a-bio div:nth-child(4) a:hover {
  transform: scale(1.1);
}
#aboutme-section .a-content .a-top .a-bio div:nth-child(4) a:hover div {
  color: black;
}
#aboutme-section .a-content .a-top .a-bio div:nth-child(4) a:hover::after {
  width: 8.5rem;
}

#loading-screen.hidden {
  display: none;
}

#loading-screen {
  position: fixed;
  z-index: 100000;
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
}
#loading-screen img {
  width: 100%;
}
#loading-screen.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.menu-popup {
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  background-color: white;
  border-bottom: 1px solid black;
  position: fixed;
  transition: 400ms;
  transform: translateY(-110vh);
}

.menu-popup.active {
  display: flex;
  transform: translateY(0);
}

@keyframes movement {
  0% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-25px);
  }
}
#skills-section {
  scroll-margin-top: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#skills-section .s-container {
  width: 80vw;
  height: 80vh;
}
#skills-section .skills-title h2 {
  font-size: 5rem;
  margin: 0;
}
#skills-section .skills-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  gap: 3rem;
}
#skills-section .skills-container .skill {
  background-size: contain;
  background-repeat: no-repeat;
  height: 10rem;
  width: 10rem;
}
#skills-section .skills-container .skill:nth-child(1) {
  background-image: url(img/html-logo.svg);
}
#skills-section .skills-container .skill:nth-child(2) {
  background-image: url(img/css-logo.svg);
}
#skills-section .skills-container .skill:nth-child(3) {
  background-image: url(img/python.svg);
}
#skills-section .skills-container .skill:nth-child(4) {
  background-image: url(img/Figma-Icon.svg);
}

#projects-section {
  max-width: 100%;
  overflow: hidden;
  height: 100vh;
  position: relative;
}
#projects-section .p-moving {
  height: 3rem;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: infinitemove 40s linear infinite;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#projects-section .p-moving > span {
  display: inline-block;
  text-transform: uppercase;
  padding: 1rem;
}
#projects-section .p-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}
#projects-section .p-main .projects-anchor {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  position: relative;
  height: 1rem;
  transition: 300ms;
}
#projects-section .p-main a:hover {
  transform: scale(1.1);
}
#projects-section .p-main a:hover::after {
  width: 8em;
}
#projects-section .p-main a::after {
  position: absolute;
  content: "";
  bottom: -16px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: black;
  transition: 300ms;
}
#projects-section .background-projects {
  opacity: 0.5;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
#projects-section .background-projects .projects-wrapper {
  height: 50%;
  width: 100%;
  gap: 1rem;
}
#projects-section .background-projects .projects-wrapper > div {
  width: 25%;
  height: 50%;
  background-color: #DD4083;
  border: solid 1px black;
}
#projects-section .background-projects > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-right: 2rem;
}
#projects-section .background-projects > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-left: 2rem;
}

@keyframes infinitemove {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
#contact-section {
  height: 100vh;
  width: 100%;
  font-size: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
#contact-section .contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #DD4083;
  height: 80%;
  width: 100%;
  color: white;
}
#contact-section .contact-container .info-wrapper {
  transition: 300ms;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}
#contact-section .contact-container .info-wrapper .iw2:hover .email-button, #contact-section .contact-container .info-wrapper .iw2:hover .info.i3 p:nth-child(1) {
  transform: scale(1.3);
}
#contact-section .contact-container .info-wrapper .iw2:hover .info.i1, #contact-section .contact-container .info-wrapper .iw2:hover .info.i1 {
  opacity: 0.7;
}
#contact-section .contact-container .info-wrapper .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  gap: 0.8rem;
}
#contact-section .contact-container .info-wrapper .info img {
  height: 2rem;
}
#contact-section .contact-container .info-wrapper .info.i3 {
  position: relative;
  height: 60%;
  width: 60%;
}
#contact-section .contact-container .info-wrapper .info.i3 .abs-text {
  position: absolute;
  opacity: 0;
  cursor: default;
  font-size: 1rem;
  top: 20px;
  right: 0;
  transform: rotate(10deg);
  transition: 300ms;
}
#contact-section .contact-container .info-wrapper .info.i3 .abs-text.hovered {
  opacity: 1;
}
#contact-section .contact-container .info-wrapper .info.i3 .email-button {
  transition: 300ms;
  cursor: pointer;
  font-size: 1.4rem;
}
#contact-section .contact-container .info-wrapper .info.i3 p {
  font-size: 1rem;
}
#contact-section .contact-container .info-wrapper .info.i3 p:nth-child(1) {
  transition: 300ms;
}
#contact-section .contact-container .info-wrapper .info.i1, #contact-section .contact-container .info-wrapper .info.i2 {
  box-sizing: border-box;
  justify-content: flex-end;
  padding-bottom: 4rem;
}
#contact-section .contact-container .iw2 {
  align-items: flex-start;
}
#contact-section .contact-container .info-wrapper.unselected {
  opacity: 0.7;
}
#contact-section .contact-container .iw2.selected p:nth-child(1), #contact-section .contact-container .iw2.selected .email-button {
  transform: scale(1.3);
}
#contact-section .contact-container #cf-button {
  border: 2px solid white;
  border-radius: 50px;
  background-color: transparent;
  color: white;
  padding: 0.8rem;
  font-size: 1rem;
  font-family: monospace;
  cursor: pointer;
  transition: 100ms;
  z-index: 100001;
}
#contact-section .contact-container #cf-button:hover {
  background-color: white;
  color: black;
}
#contact-section p {
  margin: 0;
}
#contact-section .contact-form {
  transform: translateX(-110vw);
  transition: 300ms;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  background-color: #DD4083;
  z-index: 100000;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact-section .contact-form.active {
  transform: translateX(0);
}
#contact-section .contact-form .cf-title-holder {
  height: 20%;
  color: white;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#contact-section .contact-form .cf-input-holder {
  height: 50%;
}
#contact-section .contact-form .cf-input-holder form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
  width: 100%;
  height: 100%;
}
#contact-section .contact-form .cf-input-holder form input:not(#input-submit), #contact-section .contact-form .cf-input-holder form textarea {
  width: 70vw;
  color: white;
  font-family: monospace;
  border-bottom: 2px solid white;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
}
#contact-section .contact-form .cf-input-holder form input:not(#input-submit)::placeholder, #contact-section .contact-form .cf-input-holder form textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
  text-align: start;
}
#contact-section .contact-form .cf-input-holder form input:not(#input-submit):focus, #contact-section .contact-form .cf-input-holder form textarea:focus {
  outline: none;
  border-bottom: 2px solid white;
  border-top: none;
  border-right: none;
  border-left: none;
}
#contact-section .contact-form .cf-input-holder form input:not(#input-submit):focus::placeholder, #contact-section .contact-form .cf-input-holder form textarea:focus::placeholder {
  color: white;
}
#contact-section .contact-form .cf-input-holder form input:not(#input-submit, #input-message) {
  height: 4rem;
  display: flex;
  align-items: flex-end;
}
#contact-section .contact-form .cf-input-holder form #input-message {
  height: 10rem;
  width: 70vw;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  resize: none;
  padding-top: 1rem;
}
#contact-section .contact-form .cf-input-holder form #input-submit {
  font-family: monospace;
  height: 2rem;
  width: 3rem;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 30px;
  background-color: transparent;
  color: white;
  margin-top: 1rem;
  right: 0;
  transition: 100ms;
}
#contact-section .contact-form .cf-input-holder form #input-submit:hover {
  background-color: white;
  color: #DD4083;
}

footer {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
}
footer a {
  color: #DD4083;
}