.light-mode {
  --background-color: #f9f7f3;
  --text-color: black;
  --border: black;
  --main-color: #DD4083;
  --title: black;
}

.dark-mode {
  --background-color: rgb(29, 29, 29);
  --text-color: rgb(189, 188, 188);
  --border: rgb(179, 175, 175);
  --main-color: rgb(89, 136, 183);
  --divider: rgb(179, 175, 175);
}

@font-face {
  font-family: moonget;
  src: url(fonts/moon_get/moon_get-Heavy.ttf);
}
.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.bagel-fat-one-regular {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100%;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  font-size: 20px;
}

body {
  margin: 0;
  font-family: "Cal Sans", sans-serif;
  background-color: #f9f7f3;
  color: black;
  width: 100dvw;
  height: 2000px;
}
body.no-scroll {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  transform: none;
  z-index: 10000;
  background-color: #f9f7f3;
  border-bottom: 1px solid rgb(29, 29, 29);
  box-sizing: border-box;
  transition: 500ms;
  overflow: hidden;
}
.navbar_container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px 20px;
  position: relative;
}
.navbar__content {
  font-family: "Montserrat", sans-serif;
  transition: 500ms;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
  border: 1px solid var(--border);
}
.navbar__content a {
  text-align: center;
  width: auto;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
  transition: 100ms;
  padding: 5px;
}
.navbar__content a:hover {
  background-color: var(--main-color);
  color: white;
}
.navbar__content a:not(.navbar___contact-link) {
  border-right: 1px solid var(--border);
}
.navbar__content a:nth-child(1):not(.navbar___logo), .navbar__content a .navbar___contact-link {
  border-left: 1px solid var(--border);
}
.navbar__content .navbar___logo,
.navbar__content .navbar___contact-link {
  padding: 0 10px;
}
.navbar__content .navbar____links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar__content .navbar____links a {
  width: 8rem;
}
.navbar__scroll-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  transition: 500ms;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-20vw);
  color: rgb(29, 29, 29);
  display: flex;
  width: 100vw;
  overflow: hidden;
}
.navbar__scroll-info a {
  text-decoration: none;
}
.navbar__scroll-info > span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 1vh;
}
.navbar__scroll-info > span .navbar___menu-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1rem;
  font-family: "Cal Sans", sans-serif;
  cursor: pointer;
  border: none;
  position: relative;
}
.navbar__scroll-info > span .navbar___menu-button:hover .navbar__menu-toggle span {
  transform: translateY(-1.2em);
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--1 {
  display: flex;
  overflow: hidden;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--1:hover {
  position: absolute;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--1 span {
  color: var(--text-color);
  transform: translateY(0);
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--1 span:nth-child(1) {
  transition: 0.2s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--1 span:nth-child(2) {
  transition: 0.3s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--1 span:nth-child(3) {
  transition: 0.4s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--1 span:nth-child(4) {
  transition: 0.5s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--1 span:nth-child(5) {
  transition: 0.6s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--1 span:nth-child(6) {
  transition: 0.7s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--2 {
  color: var(--text-color);
  display: flex;
  position: absolute;
  overflow: hidden;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--2 span {
  transform: translateY(1.2em);
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--2 span:nth-child(1) {
  transition: 0.2s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--2 span:nth-child(2) {
  transition: 0.3s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--2 span:nth-child(3) {
  transition: 0.4s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--2 span:nth-child(4) {
  transition: 0.5s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--2 span:nth-child(5) {
  transition: 0.6s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--2 span:nth-child(6) {
  transition: 0.7s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--2:hover span {
  transform: translateY(0);
}
.navbar__scroll-info > span .navbar___position-span {
  padding-left: 2vh;
}
.navbar.scrolled {
  height: 4vh;
}
.navbar.scrolled .navbar__content {
  transform: translateY(-13vh);
}
.navbar.scrolled .navbar__scroll-info {
  display: flex;
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.navbar.scrolled .navbar__scroll-info .navbar___menu-button {
  z-index: 10002;
}
.navbar.scrolled.active {
  height: 100vh;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  background-color: #f9f7f3;
  transition: 400ms;
  top: 0;
  right: 0;
  transform: rotate(90deg);
  transform-origin: top right;
}
#menu.active {
  z-index: 100;
  opacity: 1;
  transform: rotate(0);
}
#menu .menu_left {
  background-color: rgb(29, 29, 29);
  height: 100%;
  width: 20%;
}
#menu .menu_right {
  background-color: #f9f7f3;
  width: 80%;
  height: 100%;
}
#menu .menu_right .menu__list {
  height: 100%;
  margin: 0;
  padding: 0;
}
#menu .menu_right .menu__list .menu__items {
  border-bottom: 1px solid rgb(29, 29, 29);
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#menu .menu_right .menu__list .menu__items > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#menu .menu_right .menu__list .menu__items .menu___number {
  width: 20%;
  height: 100%;
  border-right: 1px rgb(29, 29, 29) solid;
}
#menu .menu_right .menu__list .menu__items .menu___link {
  width: 80%;
  justify-content: flex-start;
  padding-left: 3rem;
}
#menu .menu_right .menu__list .menu__items a {
  text-decoration: none;
  color: rgb(29, 29, 29);
}

#hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f7f3;
  height: 100vh;
  z-index: -100;
  position: relative;
  box-sizing: border-box;
}
#hero-section .hero_title h1 {
  z-index: 2;
  font-size: 10rem;
  line-height: 80%;
  text-shadow: 2px 0 0 white;
  margin: 0;
}
#hero-section .hero_title h2 {
  z-index: 2;
  text-align: right;
  width: 100%;
}
#hero-section .hero_right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateX(100vw);
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgb(29, 29, 29);
}
#hero-section .hero_right-container .hero__photo {
  width: 50%;
  height: 60%;
  background: url(img/c8bb9e7a2105ebb57e7a7638dcae825d.jpg) center/cover;
}
#hero-section .hero_bcg-line {
  position: absolute;
  top: -10;
  left: 50%;
  z-index: -1;
  background-color: #DD4083;
  width: 25vw;
  height: 200vw;
  transform: rotate(60deg);
}
#hero-section .hero_left-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  width: 30vw;
  bottom: 0;
  left: 8vw;
  margin-bottom: 25vh;
  transform: translateX(-100vw);
  background-color: var(--background-color);
  border: var(--border) solid 1px;
}
#hero-section .hero_left-container p {
  color: var(--text-color);
  margin: 1rem;
  font-size: 0.8rem;
  text-align: justify;
}
#hero-section.animated::after {
  transform: rotate(45deg);
  translate: 25% 25%;
}

#aboutme-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 29, 29);
  border: var(--border) solid 2px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
}
#aboutme-section .about_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--background-color);
}
#aboutme-section .about_content .about__top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
  height: 80%;
  width: 80%;
}
#aboutme-section .about_content .about__top .about___photo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 30rem;
  background-color: #DD4083;
}
#aboutme-section .about_content .about__top .about__bio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 4rem;
  font-size: 25px;
  width: 60%;
}
#aboutme-section .about_content .about__top .about__bio * {
  margin: 0;
  color: var(--text-color);
}
#aboutme-section .about_content .about__top .about__bio p {
  font-size: 1em;
}
#aboutme-section .about_content .about__top .about__bio div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}
#aboutme-section .about_content .about__top .about__bio div > span {
  margin-left: 5rem;
  font-size: 1.2em;
  height: 5rem;
}
#aboutme-section .about_content .about__top .about__bio div:nth-child(4) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0;
  text-align: right;
}
#aboutme-section .about_content .about__top .about__bio div:nth-child(4) a {
  position: relative;
  text-decoration: none;
  transition: 300ms;
}
#aboutme-section .about_content .about__top .about__bio div:nth-child(4) a div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0;
  color: rgba(0, 0, 0, 0.327);
  transition: 300ms;
}
#aboutme-section .about_content .about__top .about__bio div:nth-child(4) a::after {
  content: "";
  position: absolute;
  top: 55%;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 40px;
  background-color: black;
  transition: 300ms;
}
#aboutme-section .about_content .about__top .about__bio div:nth-child(4) a:hover {
  transform: scale(1.1);
}
#aboutme-section .about_content .about__top .about__bio div:nth-child(4) a:hover div {
  color: black;
}
#aboutme-section .about_content .about__top .about__bio div:nth-child(4) a:hover::after {
  width: 55%;
}

#loading-screen {
  position: fixed;
  z-index: 100000;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
}
#loading-screen img {
  width: 100%;
}
#loading-screen.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

#skills-section {
  z-index: 10;
  scroll-margin-top: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100vw;
  background-color: rgb(29, 29, 29);
  border-left: 2px solid rgb(29, 29, 29);
  border-right: 2px solid rgb(29, 29, 29);
}
#skills-section .skills__container {
  border-radius: 20px;
  background-color: #f9f7f3;
  height: 100%;
  width: 100%;
}
#skills-section .skills__left-container {
  border-right: var(--border) solid 2px;
  padding: 1rem;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#skills-section .skills__left-container .skills__title {
  width: 80%;
}
#skills-section .skills__left-container .skills__title h2 {
  margin: 0;
}
#skills-section .skills__right-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}
#skills-section .skills__right-container .skills__span {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0;
  width: 100%;
  height: 20%;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  opacity: 0.5;
}
#skills-section .skills__right-container .skills__items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  gap: 3rem;
}
#skills-section .skills__right-container .skills__items .skills___item {
  height: 10rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  margin: 0;
}
#skills-section .skills__right-container .skills__items .skills___item .skills___logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 80%;
  width: 100%;
}
#skills-section .skills__right-container .skills__items .skills___item .skills___logo-1 {
  background-image: url(img/html-logo.svg);
}
#skills-section .skills__right-container .skills__items .skills___item .skills___logo-2 {
  background-image: url(img/css-logo.svg);
}
#skills-section .skills__right-container .skills__items .skills___item .skills___logo-3 {
  background-image: url(img/javascript-logo-svgrepo-com.svg);
}
#skills-section .skills__right-container .skills__items .skills___item .skills___logo-4 {
  background-image: url(img/Figma-Icon.svg);
}
#skills-section .skills__right-container .skills__items .skills___item .skills___name {
  font-size: 1.2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#skills-section .skills__right-container .skills__descriptions {
  height: 20%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}
#skills-section .skills__right-container .skills__descriptions p {
  width: 85%;
  height: 50%;
  grid-row: 1;
  grid-column: 1;
  font-size: 1.2rem;
  opacity: 0;
  transition: 300ms;
}
#skills-section .skills__right-container .skills__descriptions p.active {
  opacity: 1;
  z-index: 2;
}

.moving-text {
  height: 3rem;
  overflow: hidden;
  position: relative;
  background-color: rgb(29, 29, 29);
  color: white;
  border-top: var(--border) solid 2px;
  border-bottom: var(--border) solid 2px;
}
.moving-text .moving-text__inner {
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: infinitemove 30s linear infinite;
  height: 100%;
}
.moving-text .moving-text__inner span {
  padding: 0 10px;
  display: inline-block;
  white-space: nowrap;
  text-transform: uppercase;
}

#projects-section {
  max-height: 100%;
  overflow: hidden;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#projects-section .projects_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
  position: relative;
}
#projects-section .projects_main .projects-anchor {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  position: relative;
  height: 1rem;
  transition: 300ms;
}
#projects-section .projects_main a:hover {
  transform: scale(1.1);
}
#projects-section .projects_main a:hover::after {
  width: 55%;
}
#projects-section .projects_main a::after {
  position: absolute;
  content: "";
  bottom: -16px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: black;
  transition: 300ms;
}
#projects-section .projects_main .projects_background {
  opacity: 0.3;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
#projects-section .projects_main .projects_background .projects__container {
  height: 50%;
  width: 100%;
  gap: 3rem;
}
#projects-section .projects_main .projects_background .projects__container > div {
  width: 18rem;
  height: 10rem;
  background-color: #DD4083;
  border: solid 1px black;
}
#projects-section .projects_main .projects_background .projects__container:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 7rem;
  transform: translateX(10rem);
}
#projects-section .projects_main .projects_background .projects__container:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 7rem;
  transform: translateX(-10rem);
}
#projects-section .projects_main .projects_background .projects__container.projects__container-top div {
  opacity: 0;
}
#projects-section .projects_main .projects_background .projects__container.projects__container-top.visible div {
  animation: slide-in-left 1000ms ease forwards;
  will-change: transform;
}
#projects-section .projects_main .projects_background .projects__container.projects__container-top.visible div:nth-child(2) {
  animation-delay: 200ms;
}
#projects-section .projects_main .projects_background .projects__container.projects__container-top.visible div:nth-child(3) {
  animation-delay: 400ms;
}
#projects-section .projects_main .projects_background .projects__container.projects__container-bottom div {
  opacity: 0;
}
#projects-section .projects_main .projects_background .projects__container.projects__container-bottom.visible div {
  animation: slide-in-right 1000ms ease forwards;
  will-change: transform;
}
#projects-section .projects_main .projects_background .projects__container.projects__container-bottom.visible div:nth-child(2) {
  animation-delay: 200ms;
}
#projects-section .projects_main .projects_background .projects__container.projects__container-bottom.visible div:nth-child(1) {
  animation-delay: 400ms;
}

#contact-section {
  height: 100vh;
  width: 100%;
  font-size: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
#contact-section .contact_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  background-color: rgb(29, 29, 29);
  height: 80%;
  width: 100%;
  color: white;
}
#contact-section .contact_container .contact__info-wrapper {
  transition: 300ms;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}
#contact-section .contact_container .contact__info-wrapper .contact__info-wrapper--2:hover .contact___email-button, #contact-section .contact_container .contact__info-wrapper .contact__info-wrapper--2:hover .contact___info-email p:nth-child(1) {
  transform: scale(1.3);
}
#contact-section .contact_container .contact__info-wrapper .contact__info-wrapper--2:hover .contact___info-location, #contact-section .contact_container .contact__info-wrapper .contact__info-wrapper--2:hover .contact___info-location {
  opacity: 0.7;
}
#contact-section .contact_container .contact__info-wrapper .contact___info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  gap: 0.8rem;
}
#contact-section .contact_container .contact__info-wrapper .contact___info img {
  height: 2rem;
}
#contact-section .contact_container .contact__info-wrapper .contact___info-email {
  position: relative;
  height: 60%;
  width: 60%;
}
#contact-section .contact_container .contact__info-wrapper .contact___info-email .contact___abs-text {
  position: absolute;
  opacity: 0;
  cursor: default;
  font-size: 1rem;
  top: 20px;
  right: 0;
  transform: rotate(10deg);
  transition: 300ms;
}
#contact-section .contact_container .contact__info-wrapper .contact___info-email .contact___abs-text.hovered {
  opacity: 1;
}
#contact-section .contact_container .contact__info-wrapper .contact___info-email .contact___email-button {
  transition: 300ms;
  cursor: pointer;
  font-size: 1.4rem;
}
#contact-section .contact_container .contact__info-wrapper .contact___info-email p {
  font-size: 1rem;
}
#contact-section .contact_container .contact__info-wrapper .contact___info-email p:nth-child(1) {
  transition: 300ms;
}
#contact-section .contact_container .contact__info-wrapper .contact___info.contact___info-location, #contact-section .contact_container .contact__info-wrapper .contact___info.contact___info-socials {
  box-sizing: border-box;
  justify-content: flex-end;
  padding-bottom: 4rem;
}
#contact-section .contact_container .contact__info-wrapper--2 {
  align-items: flex-start;
}
#contact-section .contact_container .contact__info-wrapper.unselected {
  opacity: 0.7;
}
#contact-section .contact_container .contact__info-wrapper--2.selected p:nth-child(1), #contact-section .contact_container .contact__info-wrapper--2.selected .contact___email-button {
  transform: scale(1.3);
}
#contact-section .contact_container #cf-button {
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding-bottom: 5px;
  opacity: 0.6;
  position: relative;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  font-family: "Cal Sans", sans-serif;
  cursor: pointer;
  transition: 300ms;
  z-index: 999;
}
#contact-section .contact_container #cf-button:hover {
  color: white;
  opacity: 1;
}
#contact-section .contact_container #cf-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 6px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: 300ms;
}
#contact-section .contact_container #cf-button:hover::after {
  width: 55%;
}
#contact-section p {
  margin: 0;
}
#contact-section .contact_form {
  transform: translateX(-110vw);
  transition: 300ms;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  background-color: rgb(29, 29, 29);
  z-index: 100;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact-section .contact_form.active {
  transform: translateX(0);
}
#contact-section .contact_form .contact_form-title {
  height: 20%;
  color: white;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#contact-section .contact_form .contact_form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}
#contact-section .contact_form .contact_form-inputs input:not(#input-submit), #contact-section .contact_form .contact_form-inputs textarea {
  width: 70%;
  color: white;
  font-family: "Cal Sans", sans-serif;
  border-bottom: 2px solid white;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
}
#contact-section .contact_form .contact_form-inputs input:not(#input-submit)::placeholder, #contact-section .contact_form .contact_form-inputs textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
  text-align: start;
}
#contact-section .contact_form .contact_form-inputs input:not(#input-submit):focus, #contact-section .contact_form .contact_form-inputs textarea:focus {
  outline: none;
  border-bottom: 2px solid white;
  border-top: none;
  border-right: none;
  border-left: none;
}
#contact-section .contact_form .contact_form-inputs input:not(#input-submit):focus::placeholder, #contact-section .contact_form .contact_form-inputs textarea:focus::placeholder {
  color: white;
}
#contact-section .contact_form .contact_form-inputs input:not(#input-submit, #input-message) {
  height: 4rem;
  display: flex;
  align-items: flex-end;
}
#contact-section .contact_form .contact_form-inputs #input-message {
  height: 10rem;
  width: 70vw;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  resize: none;
  padding-top: 1rem;
}
#contact-section .contact_form .contact_form-inputs #input-submit {
  font-family: "Cal Sans", sans-serif;
  height: 2rem;
  width: 3rem;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 30px;
  background-color: transparent;
  color: white;
  margin-top: 1rem;
  right: 0;
  transition: 100ms;
}
#contact-section .contact_form .contact_form-inputs #input-submit:hover {
  background-color: white;
  color: #DD4083;
}

footer {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
}
footer a {
  color: #DD4083;
}

@media only screen and (max-width: 2600px) and (min-width: 1750px) {
  :root {
    font-size: 35px;
  }
  .skills__title h2 {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 1749px) and (min-width: 1400px) {
  :root {
    font-size: 20px;
  }
  #skills-section .skills__title h2 {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 860px) {
  :root {
    font-size: 18px;
  }
  #hero-section .hero_left-container {
    left: 5vw;
    width: 40vw;
  }
  #about-section {
    height: 70vh;
  }
  #skills-section {
    height: 70vh;
  }
  #skills-section .skills__items {
    margin-bottom: 2rem;
  }
  #skills-section .skills__title {
    width: 60%;
  }
  #skills-section .skills__title h2 {
    font-size: 3rem;
  }
}
.mobile-only {
  display: none;
}

@media only screen and (max-width: 860px) and (min-width: 500px) {
  :root {
    font-size: 16px;
  }
  #hero-section {
    display: none;
  }
  #hero-section-mobile-tablet {
    height: 100vh;
    width: 100vw;
  }
  #skills-section .skills__title h2 {
    font-size: 3rem;
  }
}
@keyframes infinitemove {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
@keyframes slide-in-left {
  0% {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
