    body{
        overflow-x: hidden;
        width: 100dvw;
    }

    body.unscrollable{
        overflow: hidden;
    }

    :root{
        font-size: 20px;
    }



    $main-font: "Cal Sans", sans-serif;//  "Montserrat", sans-serif // Arial, Helvetica, sans-serif // monospace // "Cal Sans", sans-serif
    $main-color: #DD4083; // pink #DD4083 // green #adc178 // light blue #b5e2fa // blue #7cc3e5
    $dark-color: rgb(29, 29, 29);
    $blue: rgb(89, 136, 183);
    $text-b: black;
    $text-w: white;
    $background: #f9f7f3; // brownish #f0ead2 // white white rgb(244, 243, 243) // #f9f7f3
    $nav-height: 12vh;


    $light-background: $background; // brownish #f0ead2 // white white
    $light-text: black;
    $light-border: black;

    $dark-background: rgb(29, 29, 29);
    $dark-text: rgb(189, 188, 188);
    $dark-border: rgb(179, 175, 175);




    .light-mode {
        --background-color: #{$light-background};
        --text-color: #{$light-text};
        --border: #{$light-border};
        --main-color: #{$main-color};
        --title: #{$light-text};
    }

    .dark-mode {
        --background-color: #{$dark-background};
        --text-color: #{$dark-text};
        --border: #{$dark-border};
        --main-color: #{$blue};
        --divider: #{$dark-border};
    }

    @font-face {
        font-family: moonget;
        src: url(fonts/moon_get/moon_get-Heavy.ttf);
    }

    @mixin font-bagel(){
        font-family: "bagel-fat-one", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    @mixin center-flex($dir){
        display: flex;
        flex-direction: $dir;
        justify-content: center;
        align-items: center;
    }

    @mixin flexbox-layout($dir, $justify, $align, $gap){
        display: flex;
        flex-direction: $dir;
        justify-content: $justify;
        align-items: $align;
        gap: $gap;
    }

    .cherry-bomb-one-regular {
        font-family: "Cherry Bomb One", system-ui;
        font-weight: 400;
        font-style: normal;
    }

    .bagel-fat-one-regular {
        font-family: "Bagel Fat One", system-ui;
        font-weight: 400;
        font-style: normal;
    }

    .cal-sans-regular {
        font-family: "Cal Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
    }



    html{
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
        font-family: $main-font;
        background-color: var(--background-color);
        color: black;
        width: 100dvw;
        height: 2000px;

        &.no-scroll {
            overflow: hidden;
        }

        section{
            min-height: 100vh - $nav-height;
        }
    }



    .mode-toggle{
        z-index: 90;
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 2rem;
        width: 5rem;
        height: 2rem;
        background-color: var(--background-color);
        color: var(--text-color);
        border: 2px solid var(--text-color);
        cursor: pointer;
        font-size: .6rem;
        font-family: $main-font;
    }


    .navbar {
        @include center-flex(row);
        top: 0;
        position: fixed;
        height: 10vh;
        width: 100%;
        z-index: 10000;
        background-color: var(--background-color);
        border-bottom: 1px solid var(--border);
        box-sizing: border-box;
        transition: 500ms;


        .navbar_container{
            @include center-flex(row);
            height: 100%;
            width: 100%;
            padding: 20px 20px;
            position: relative;
        }

        .navbar__content{
            font-family: "Montserrat", sans-serif;
            transition: 500ms;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0;
            width: 100%;
            border: 1px solid var(--border);
            a{
                text-align: center;
                width: auto;
                color: var(--text-color);
                text-decoration: none;
                font-size: 1.2rem;
                position: relative;
                transition: 100ms;
                padding: 5px;

            }

            .navbar___logo, .navbar___contact-link{
                padding-left: 10px;
                padding-right: 10px;
            }
            a:hover{
                background-color: var(--main-color);
                color: white;
            }
            a:not(.navbar___contact-link){
                border-right: 1px solid var(--border);
            }

            a:nth-child(1):not(.navbar___logo), .navbar___contact-link{
                border-left: 1px solid var(--border);
            }
            /*
            a:hover{
                background-color: $main-color;
            }

            a::after{
                content: "";
                background-color: $main-color;
                height: 70%;
                width: 60%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                opacity: 0;
            } */
            /*a:not(.contact-link){
                border-right: 3px solid var(--border);
            }

            a:nth-child(1):not(.logo), .contact-link{
                border-left: 3px solid var(--border);
            }*/

            .navbar____links{
                @include center-flex(row);
                a{

                    width: 8rem;
                }
            }
        }

        .navbar__scroll-info{
            transition: 500ms;
            position: absolute;
            visibility: hidden;

            opacity: 0;
            transform: translateX(-20vw);
            color: var(--text-color);

            display: flex;
            justify-content: space-between;
            width: 100%;


            a{
                text-decoration: none;
            }
            & > span{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 1vh;
                .navbar___menu-button{
                    background-color: rgba(0, 0, 0, 0);
                    font-size: 1rem;
                    font-family: $main-font;
                    cursor: pointer;
                    border: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    &:hover{
                        .navbar__menu-toggle span{
                            transform: translateY(-1.2em);
                        }

                    }

                    .navbar__menu-toggle--1{
                        display: flex;
                        overflow: hidden;

                        &:hover {
                        position: absolute;
                        }
                        span{
                            color: var(--text-color);
                            transform: translateY(0);
                            &:nth-child(1) {
                                transition: 0.2s;
                            }
                            &:nth-child(2) {
                                transition: 0.3s;
                            }
                            &:nth-child(3) {
                                transition: 0.4s;
                            }
                            &:nth-child(4) {
                                transition: 0.5s;
                            }
                            &:nth-child(5) {
                                transition: 0.6s;
                            }
                            &:nth-child(6) {
                                transition: 0.7s;
                            }
                        }
                        /*
                        &::after{
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            background-color: #DD4083;
                            width: 0%;
                            height: 3px;
                            border-radius: 75px;
                            transition: 500ms;
                        }
                        &:hover::after{
                            width: 100%;
                        } */
                    }

                    .navbar__menu-toggle--2{
                        color: var(--text-color);
                        display: flex;
                        position: absolute;
                        overflow: hidden;

                        span {
                        transform: translateY(1.2em);

                        &:nth-child(1) {
                            transition: 0.2s;
                        }
                        &:nth-child(2) {
                            transition: 0.3s;
                        }
                        &:nth-child(3) {
                            transition: 0.4s;
                        }
                        &:nth-child(4) {
                            transition: 0.5s;
                        }
                        &:nth-child(5) {
                            transition: 0.6s;
                        }
                        &:nth-child(6) {
                                transition: 0.7s;
                        }
                        }



                        &:hover span {
                            transform: translateY(0);
                        }
                    }
                }
                .navbar___position-span{
                    padding-left: 2vh
                }
            }

        };
    }


    $menudiv1width: 20%;
    #menu{
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: -100;
        @include center-flex(row);
        background-color: $background;
        transition: 400ms;
        opacity: 0;

        & > div:nth-child(1){
            background-color: $dark-color;

            height: 100%;
            width: $menudiv1width;
        }
        & > div:nth-child(2){
            background-color: $background;
            width: calc(100% - $menudiv1width);
            height: 100%;

            & > div{
                border-bottom: 1px solid $dark-background;
                height: calc(100%/4);
                @include center-flex(row);
                & > div{
                    @include center-flex(row)
                }
                & > div:nth-child(1){
                    width: 20%;
                    height: 100%;
                    border-right: 1px $dark-color solid;
                }
                & > div:nth-child(2){
                    width: 80%;
                    justify-content: flex-start;
                    padding-left: 3rem;
                }

                a{
                    text-decoration: none;
                    color: $dark-color;
                }
            }
        }

    }

    #menu.active{
        z-index: 10000;
        opacity: 1;
    }



    .navbar.scrolled{
        height: $nav-height - 8vh;
        .navbar__content{
            transform: translateY(-$nav-height - 1vh);
        }
        .navbar__scroll-info{
            display: flex;
            visibility: visible;
            opacity: 1;
            transform: translateX(0);

            .navbar___menu-button{
                z-index: 10002;
            }
        }
    }

    .navbar.active{
        height: 100vh;
    }


    #intro-section{
        @include center-flex(column);
        background-color: var(--background-color);
        height: 100vh;

        h1{
            z-index: 2;
            font-size: 10rem;
            line-height: 80%;
            text-shadow: 2px 0px 0px white;
            margin: 0;
        }

        h2{
            z-index: 2;
            margin: 1rem;
            text-align: right;
            width: 60%;
        }

        &::after{
            content: "";
            position: absolute;
            top: 0;
            height: 220%;
            width: 25vw;
            z-index: 1;
            background-color: var(--main-color);
            transform: rotate(60deg);
            translate: 0% -25%;
        }
    }



    #hero-section{
        display: flex;
        height: 100vh;
        .hero_left{
            position: relative;
            height: 100%;
            width: 50vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            .hero__title{
                height: 25%;
                width: 80%;
                @include center-flex(column);

                h1{
                    text-transform: uppercase;
                    margin: 0;
                    text-shadow: 2px 0px 0px $background;
                    line-height: 3.6rem;
                    @include center-flex(column);
                    gap: 5px;
                    span{
                        color: var(--title);
                    }
                    span:nth-child(1){
                        font-size: 4.2rem;
                    }
                    span:nth-child(2){
                        font-size: 4rem;
                    }
                }
                h2{
                    margin: 0;
                    width: 100%;
                    text-align: center
                }
            }
            .hero__paragraph{
                @include center-flex(row);
                width: 50%;
                margin-bottom: 5rem;
                background-color: var(--background-color);
                border: var(--border) solid 1px;

                p{
                    color: var(--text-color);
                    margin: 1rem;
                    font-size: .8rem;
                    text-align: justify;
                }
            }
            &::after{
                content: "";
                position: absolute;
                height: 200%;
                width: 25vw;
                z-index: -1;
                background-color: var(--main-color);
                transform: rotate(45deg);
                translate: 25% 25%;
            }
        }
        .hero_right{
            @include center-flex(column);
            background-color: rgb(29, 29, 29);
            width: 50vw;
            height: 100%;
            border-left: var(--divider) solid 1px;

            .hero__photo{
                margin-top: $nav-height;
                position: relative;
                width: 50%;
                height: 60%;
                background-image: url(img/c8bb9e7a2105ebb57e7a7638dcae825d.jpg);
                background-size: cover;
                .hero___photo-text{
                    position: absolute;
                    bottom: -30%;
                    right: 0;
                    font-size: 3rem;
                    text-shadow: 2px 0px 0px white;

                    h2{
                        color: var(--main-color);
                    }
                }
            }


        }


    }

    #aboutme-section{
        @include center-flex(row);
        background-color: $dark-color;
        border-top: var(--border) solid 2px;

        z-index: 10;
        width: 100vw;
        height: 100vh;

        .about_content{
            @include center-flex(column);
            width: 100%;
            height: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;

            background-color: var(--background-color);
            .about__top{
                @include flexbox-layout(row, flex-start, flex-start, 4rem );
                height: 80%;
                width: 80%;
                .about___photo{
                    @include center-flex(row);
                    width: 25rem;
                    height: 30rem;
                    background-color: $main-color;
                }
                .about__bio{
                    @include flexbox-layout(column, flex-start, flex-start, 1rem);
                    margin-top: 4rem;
                    font-size: 25px;
                    *{
                        margin: 0;
                        color: var(--text-color);
                    }
                    p{
                        font-size: 1em;
                    }
                    div{
                        @include flexbox-layout(column, center, flex-start, 1rem);
                        width: 100%;
                        & > span{
                            margin-left: 5rem;
                            font-size: 1.2em;

                            height: 5rem;
                        }
                    }
                    div:nth-child(4){
                        @include flexbox-layout( column, center, flex-end, 0);
                        text-align: right;

                        a{
                            position: relative;
                            text-decoration: none;
                            transition: 300ms;
                            div{
                                @include flexbox-layout( column, center, flex-end, 0);
                                color: rgba(0, 0, 0, 0.327);
                                transition: 300ms;
                            }
                        }

                        a::after{
                            content: "";
                            position: absolute;
                            top: 55%;
                            left: 0;
                            width: 0;
                            height: 2px;
                            border-radius: 40px;
                            background-color: black;
                            transition: 300ms;
                        }

                        a:hover{
                            transform: scale(1.1);
                        }

                        a:hover div{
                            color: black;

                        }

                        a:hover::after{
                            width: 55%;
                        }
                    }
                }
            }
        }
    }


    #loading-screen.hidden{
        display: none;
    }

    #loading-screen {
        position: fixed;
        z-index: 100000;
        top: 0;
        height: 100vh;
        width: 100vw;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        overflow: hidden;

        img{
            width: 100%;
        }

        &.hidden {
            display: none;
            opacity: 0;
            visibility: hidden;

        }
    }

    $dot-count: 20;
    $dot-size: 10px;
    $dot-space: 15px;
    $animation-time: 2s;
    $animation-distance: 25px;

    .popup_menu {
        z-index: 1000;
        height: 100vh;
        width: 100vw;
        background-color: $background;
        border-bottom: 1px solid black;
        position: fixed;
        transition: 400ms;
        transform: translateY(-110vh);
    }

    .popup_menu.active{
        display: flex;
        transform: translateY(0);
    }

    @keyframes movement {
        0% {
        transform: translateY(-#{$animation-distance});
        }
        50% {
        transform: translateY(#{$animation-distance});
        }
        100% {
        transform: translateY(-#{$animation-distance});
        }
    };

    #skills-section{
        scroll-margin-top: 15vh;
        @include center-flex(column);
        height: 100vh;
        width: 100vw;
        .skills__title{
            @include flexbox-layout(row, flex-start, flex-start, 1rem);
            width: 90%;
             h2{
                font-size: 3rem;
                margin: 0;
                text-align: left;
            }
        }

        .skills_container{
            width: 70%;
            height: 60%;
            @include center-flex(column);
            gap: 1rem;
        }

        .skills__items{
            @include center-flex(row);
            width: 100%;
            height: 50%;
            gap: 3rem;
            position: relative;
            .skills__abs-text{
                position: absolute;
                top: -10%;
                right: 0;
                transform: rotate(45deg);
            }
            .skills___item{
                height: 10rem;
                width: 10rem;
                @include flexbox-layout(column, center, center, 1rem);
                cursor: pointer;
                .skills___logo{
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 80%;
                    width: 100%;
                }
                .skills___name{
                    font-size: 1.2rem;
                    width: 100%;
                    @include center-flex(row);
                }
                .skills___logo-1{
                    background-image: url(img/html-logo.svg);
                }
                .skills___logo-2{
                    background-image: url(img/css-logo.svg);
                }
                .skills___logo-3{
                    background-image: url(img/javascript-logo-svgrepo-com.svg);
                }
                .skills___logo-4{
                    background-image: url(img/Figma-Icon.svg);
                }
            }

        }
        .skills__descriptions{
            height: 30%;
            width: 100%;
            display: grid;
            align-items: center;
            justify-items: center;
            div{
                width: 85%;
                height: 20%;
                grid-row: 1;
                grid-column: 1;
                font-size: 1.2rem;
                opacity: 0;
                transition: 300ms;
                &.active{
                    opacity: 1;
                    z-index: 2;
                }
            }
        }

    }


    #projects-section{
            max-width: 100%;
            overflow: hidden;
            height: 100vh;
            position: relative;
        .projects_moving-text{
            height: 3rem;
            white-space: nowrap;
            overflow: hidden;
            display: inline-block;
            animation: infinitemove 40s linear infinite;

            border-top: 1px solid black;
            border-bottom: 1px solid black;
            & > span{
                display: inline-block;
                text-transform: uppercase;
                padding: 1rem;
            }
        }

        .projects_main{
            @include center-flex(column);
            height: 80%;
            .projects-anchor{
                text-decoration: none;
                color: black;
                font-size: 1.2rem;
                position: relative;
                height: 1rem;
                transition: 300ms;
            }

            a:hover{
                transform: scale(1.1);
            }

            a:hover::after{
                width: 55%;
            }

            a::after{
                position: absolute;
                content: "";
                bottom: -16px;
                left: 0;
                height: 2px;
                width: 0;
                background-color: black;
                transition: 300ms;
            }
        }

        .porjects_background{
            opacity: .3;
            position: absolute;
            top: 0;
            @include center-flex(column);
            height: 100vh;
            width: 100vw;
            z-index: -1;

            .projects__container{
                height: 50%;
                width: 100%;
                gap: 1rem;
                & > div{
                    width: 15rem;
                    height: 10rem;
                    background-color: $main-color;
                    border: solid 1px black;
                }
            }

            & > div:nth-child(1){
                @include flexbox-layout( row, flex-end, center, 1rem);
                margin-right: 2rem;
            }
            & > div:nth-child(2){
                @include flexbox-layout( row, flex-start, center, 1rem);
                margin-left: 2rem;
            }
        }
    }

    @keyframes infinitemove {
        0% {
            transform: translate3d(0, 0, 0);
        }
        100% {
            transform: translate3d(-50%, 0, 0);
        }
    }

    #contact-section{
        height: 100vh;
        width: 100%;
        font-size: 1.5rem;
        position: relative;
        @include flexbox-layout( column, flex-end, center, 1rem);
        .contact_container{
            @include flexbox-layout( column, center, flex-start, 0);
            background-color: $main-color;
            height: 80%;
            width: 100%;
            color: white;
            .contact__info-wrapper{
                transition: 300ms;
                @include center-flex(row);
                height: 50%;
                width: 100%;
                .contact__info-wrapper--2:hover{
                    .contact___email-button, .contact___info-email p:nth-child(1){
                        transform: scale(1.3);
                    }
                    .contact___info-location, .contact___info-location{
                        opacity: .7;
                    }
                }
                .contact___info{
                    @include center-flex(column);
                    width: 50%;
                    height: 100%;
                    gap: .8rem;

                    img{
                        height: 2rem;
                    }
                }
                .contact___info-email{
                    position: relative;
                    height: 60%;
                    width: 60%;
                    .contact___abs-text{
                        position: absolute;
                        opacity: 0;
                        cursor: default ;
                        font-size: 1rem;
                        top: 20px;
                        right: 0;
                        transform: rotate(10deg);
                        transition: 300ms;
                    }
                    .contact___abs-text.hovered{
                        opacity: 1;
                    }
                    .contact___email-button{
                        transition: 300ms;
                        cursor: pointer;
                        font-size: 1.4rem;
                    }

                    p{
                        font-size: 1rem;
                    }

                    p:nth-child(1){
                        transition: 300ms;
                    }



                }
                .contact___info.contact___info-location, .contact___info.contact___info-socials{
                    box-sizing: border-box;
                    justify-content:  flex-end;
                    padding-bottom: 4rem;
                }
            }
            .contact__info-wrapper--2{
                align-items: flex-start;
            }
            .contact__info-wrapper.unselected{
                    opacity: .7;
            }
            .contact__info-wrapper--2.selected{
                p:nth-child(1), .contact___email-button{
                    transform: scale(1.3);
                }
            }
            #cf-button{
                margin-bottom: 1rem;
                margin-left: 1rem;
                padding-bottom: 5px;

                opacity: .6;
                position: relative;
                border: none;
                background-color: transparent;
                color: white;
                font-size: 1rem;
                font-family: $main-font;
                cursor: pointer;
                transition: 300ms;

                z-index: 999;
            }

            #cf-button:hover{
                color: white;
                opacity: 1;
            }

            #cf-button::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 6px;
                width: 0;
                height: 2px;
                background-color: white;

                transition: 300ms;
            }

            #cf-button:hover::after{
                width: 55%;
            }
        }
        p{
            margin: 0;
        }
        .contact_form{
            transform: translateX(-110vw);
            transition: 300ms;

            height: 100vh;
            width: 100vw;
            position: absolute;
            top: 0;
            background-color: $main-color;
            z-index: 100;

            opacity: 1;
            @include center-flex(column);

            &.active{
                transform: translateX(0);
            }

            .contact_form-title{
                height: 20%;
                color: white;
                font-size: 1rem;
                @include center-flex(row);
            }
            .contact_form-inputs{
                height: 50%;

                form{
                    @include flexbox-layout( column, center, flex-end, 1rem);
                    width: 100%;
                    height: 100%;
                    input:not(#input-submit), textarea{
                        width: 70vw;
                        color: white;
                        font-family: $main-font;
                        border-bottom: 2px solid white;
                        border-top: none;
                        border-right: none;
                        border-left: none;
                        background-color: transparent;

                        &::placeholder {
                            color: rgba(255, 255, 255, 0.6);
                            text-align: start;
                        }

                        &:focus {
                            outline: none;
                            border-bottom: 2px solid white;
                            border-top: none;
                            border-right: none;
                            border-left: none;
                            &::placeholder {
                                color: white;
                            }
                        }
                    }
                    input:not(#input-submit, #input-message){
                        height: 4rem;
                        display: flex;
                        align-items: flex-end;
                    }
                    #input-message{
                        height: 10rem;
                        width: 70vw;
                        display: flex;
                        box-sizing: border-box;
                        align-items: flex-start;
                        resize: none;
                        padding-top: 1rem;
                    }
                    #input-submit{
                        font-family: $main-font;
                        height: 2rem;
                        width: 3rem;

                        cursor: pointer;
                        border: 2px solid white;
                        border-radius: 30px;
                        background-color: transparent;
                        color: white;

                        margin-top: 1rem;
                        right: 0;
                        transition: 100ms;
                        &:hover{
                            background-color: white;
                            color: $main-color;
                        }
                    }
                }
            }
        }
    }

    footer{
        height: 10vh;
        @include center-flex(row);
        font-size: .7rem;
        a{
            color: $main-color;
        }
    }