@import '../../styling/base/variables';
@import '../../styling/base/mixins';
@import '../../styling/base/placeholders';


html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  background-color: $dark-color;
  color: $dark-color;
  width: 100dvw;
}

* {
  box-sizing: border-box;
}

a{
  color: $main-color;
}

::selection {
  background: rgba(183, 182, 182, 0.38);
}


.credits{
  height: fit-content;
  width: 100vw;
  &__title{
    border-bottom: 1px solid $dark-color;
    @include flex(column);
    height: 30vh;
    @extend %light-background;
    padding: 2vw;
    h1{
      @extend %medium-font;
      line-height: $medium;
      margin: 0;
    }
    h2{
      @extend %normal-font;
      margin: 0;
    }
  }
  &__container{
    width: 100%;
    height: 70%;
    @include flex();
    flex-wrap: wrap;
    figure{
      margin: 0;
      border-radius: 20px;
      border: solid $dark-color 1px;
      width: 50%;
      height: 40vh;
      padding: 2rem;
      transition: transform 300ms;
      @extend %light-background;
      @include flex();
      &:hover{
        z-index: 20;
        transform: translateY(-2%);

      }
      div{
        width: 10vw;
        aspect-ratio: 1/1;
        padding: 1rem;
        background-color: black;
        @include flex();
        border-radius: 20px;
        @extend %normal-font;
      }
      div:not(#js-logo){
        color: white;
      }
      figcaption{
        width: 70%;
        padding-left: 2rem;
        a{
          @extend %normal-font;
        }
        p{
          margin-top: 5px;
          @extend %normal-font;

          small{
            @extend %small-font;
          }
        }

      }
      #html-logo{
        background-color: #E34F26;
      }
      #scss-logo{
        background-color: #CC6699;
      }
      #js-logo{
        background-color: #F7DF1E;
      }
      #gsap-logo{
        background-color: #88CE02;
      }
      #fig-logo{
        background-color: #A259FF;
      }
      #ai-logo{
        background-color: #FF9A00;
      }
    }
  }
}

footer {
  height: fit-content;
  width: 100vw;
  border-top: solid $dark-color 1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  @extend %light-background;
  @include flex(column, $justify: flex-start);
  padding: 3.5vw 5vw;

  h3 {
    margin-top: 0;
    height: 20%;
    width: 100%;
    @include flex($justify: flex-start);
    border-bottom: solid $main-color 1px;
    @extend %small-heading;
  }

  p {
    width: 100%;
    margin: 0;
    @extend %normal-font;
  }
}


header{
  position: fixed;
  width: 100vw;
  z-index: 100;
  top: 0;
  padding: 0 1vh 0 1vh;
  border-bottom: 1px solid $dark-color;
  background-color: $background;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
  &.hidden{
    transform: translateY(-100%);
    opacity: 0;
  }
  .navbar__scroll-info{
    @include flex(row, space-between, center);
    color: $dark-color;
    display: flex;
    width: 100%;


    a{
      text-decoration: none;
      color: $dark-color;
    }
    & > span{
      @extend %normal-font;
      @include flex();
      .navbar___menu-button{
        display: grid;
        background-color: rgba(0, 0, 0, 0);
        font-family: $main-font;
        cursor: pointer;
        border: none;
        position: relative;
        font-size: 1rem;
        a{
          grid-row: 1;
          grid-column: 1;
        }

        &:hover{
          .navbar__menu-toggle span{
            transform: translateY(-1.5em);
          }
        }
        .navbar__menu-toggle--1{
          display: flex;
          overflow: hidden;

          &:hover {
            position: absolute;
          }
          span{
            @extend %normal-font;
            color: $dark-color;
            transform: translateY(0);
            &:nth-child(1) {
              transition: 0.2s;
            }
            &:nth-child(2) {
              transition: 0.3s;
            }
            &:nth-child(3) {
              transition: 0.4s;
            }
            &:nth-child(4) {
              transition: 0.5s;
            }
            &:nth-child(5) {
              transition: 0.6s;
            }
            &:nth-child(6) {
              transition: 0.7s;
            }
            &:nth-child(7) {
              transition: 0.8s;
            }
            &:nth-child(8) {
              transition: 0.9s;
            }
          }
        }
        .navbar__menu-toggle--2{
          color: $dark-color;
          display: flex;
          position: absolute;
          overflow: hidden;
          @extend %normal-font;

          span {
            transform: translateY(1.2em);

            // MENU BUTTON ANIMATION
            &:nth-child(1) {
              transition: 0.2s;
            }
            &:nth-child(2) {
              transition: 0.3s;
            }
            &:nth-child(3) {
              transition: 0.4s;
            }
            &:nth-child(4) {
              transition: 0.5s;
            }
            &:nth-child(5) {
              transition: 0.6s;
            }
            &:nth-child(6) {
              transition: 0.7s;
            }
            &:nth-child(7) {
              transition: 0.8s;
            }
            &:nth-child(8) {
              transition: 0.9s;
            }
          }
          &:hover span {
            transform: translateY(0);
          }
        }
      }
      .navbar___position-span{
        padding-left: 2vh;


      }
    }
  }
}


@include responsive(xlarge) {
  html {
    font-size: 25px;
  }
}

@include responsive(desktop) {
  html {
    font-size: 20px;
  }
}

@include responsive(laptop) {
  html {
    font-size: 18px;
  }
}

@include responsive(tablet) {
  html {
    font-size: 16px;
  }
}

@include responsive(mobile-tablet) {

  // oNLY TABLET
  @media (min-width: 700px) {
    :root {
      --medium-font: 6vw;
      --big-font: 12vw;
      --small-font: 1.8vw;
      --normal-font: 2vw;
    }

    html {
      font-size: 16px;
    }
  }
}

@include responsive(portrait) {
  :root {
    --medium-font: 6vw;
    --big-font: 10.5vw;
    --normal-font: 4vw;
    --small-font: 3vw;
    --small-heading: 4vw;
  }

  .credits{
    flex-direction: column;
    flex-wrap: nowrap;
    &__container{
      figure{
        width: 100%;

        div{
          width: 20vw;

        }

      }
    }
  }

  .mobile-only {
    display: flex;
  }

  @media only screen and (max-width: 700px) {
    html {
      font-size: 16px;
    }
  }
}