main{
  height: fit-content;
  margin-bottom: 20vh;
  background: $dark-color;
}
#projects-intro {
  @extend %screen-size;
  @include flex(column);
  @extend %light-background;

  padding: 0 2vw 0 2vw;

  .i_wrapper{
    width: 100%;
    h1{
      @include flex(row);
      flex-wrap: wrap;
      font-size: $medium;
      margin: 0;
      width: 100%;
      height: fit-content;
      span{
        opacity: 0;
        animation: fade-in $transition ease forwards;
      }
      span:nth-child(2){
        animation-delay: 100ms;
      }
      span:nth-child(3){
        animation-delay: 200ms;
      }
      span:nth-child(4){
        animation-delay: 300ms;
      }
      span:nth-child(5){
        animation-delay: 400ms;
      }
    }
    & > span{
      width: 100%;
      @include flex(row, flex-end, flex-start);
    }
  }

  a{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
}

.projects-mobile{
  display: none;
}

.projects{
  height: 300vh;
  @extend %light-background;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  position: relative;
  @include flex();

  .wrapper{
    z-index: 2;
    width: 40%;
    height: 100%;

    & > div{
      width: 100%;
      height: 50vh;
      @include flex();
      & > div{
        aspect-ratio: 16/9;
        width: 90%;
      }
    }
  }

  .projects__descriptions{
    & > div{
      & > div{
        box-sizing: border-box;

        h2{
          margin: 0;
          @extend %small-heading;
        }
        p{
          margin: 0;
          @extend %normal-font;
          text-align: justify;
        }
        & > span{
          margin-top: .5rem;
          @include flex($justify: flex-start, $gap: 1rem);
          span{
            border-radius: 15px;
            box-sizing: border-box;
            padding: 5px 10px 5px 10px;
            border: 1px solid $dark-color;
            @extend %small-font;
          }
        }
      }
    }
  }

  .projects__line{
    width: 10%;
    height: 100%;
    @include flex(column);
    h3{
      @extend %small-font;
    }
    div{
      height: 95%;
      width: 1px;
      background-color: rgba(29, 29, 29, 0.25);
    }
  }

  .absolute{
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 117%;
    top: -25vh;
    left: 0;
    .sticky{
      position: sticky;
      width: 100%;
      height: 100vh;
      top: 0;
      @include flex();
      div{
        width: 2vw;
        height: 2vw;
        background-color: $dark-color;
        transform: rotate(45deg);
      }
    }

  }
}




.projects__holder{
  .project-1{
    div{
      @include background-cover("../../../img/projects/design.webp");
    }
  }
  .project-2{
    div{
      @include background-cover("../../../img/projects/eeao.webp");
    }
  }
  .project-3{
    div{
      @include background-cover("../../../img/projects/radianthq-sc.webp");
    }
  }

  .project-4{
    div{
      @include background-cover("../../../img/projects/lucidify.webp");
    }
  }
  .project-5{
    div{
      @include background-cover("../../../img/projects/gameoflife.webp");
    }
  }
  .project-6{
    div{
      @include background-cover("../../../img/projects/maze-sc.png");
    }
  }
}

header{
  position: fixed;
  width: 100vw;
  z-index: 100;
  padding: 0 1vh 0 1vh;
  border-bottom: 1px solid $dark-color;
  background-color: $background;

  .navbar__scroll-info{
    @include flex(row, space-between, center);
    color: $dark-color;
    display: flex;
    width: 100%;


    a{
      text-decoration: none;
      color: $dark-color;
    }
    & > span{
      @include flex();
      .navbar___menu-button{
        display: grid;
        background-color: rgba(0, 0, 0, 0);
        font-family: $main-font;
        cursor: pointer;
        border: none;
        position: relative;
        font-size: 1rem;
        a{
          grid-row: 1;
          grid-column: 1;
        }

        &:hover{
          .navbar__menu-toggle span{
            transform: translateY(-1.5em);
          }
        }
        .navbar__menu-toggle--1{
          display: flex;
          overflow: hidden;

          &:hover {
            position: absolute;
          }
          span{
            color: $dark-color;
            transform: translateY(0);
            &:nth-child(1) {
              transition: 0.2s;
            }
            &:nth-child(2) {
              transition: 0.3s;
            }
            &:nth-child(3) {
              transition: 0.4s;
            }
            &:nth-child(4) {
              transition: 0.5s;
            }
            &:nth-child(5) {
              transition: 0.6s;
            }
            &:nth-child(6) {
              transition: 0.7s;
            }
            &:nth-child(7) {
              transition: 0.8s;
            }
            &:nth-child(8) {
              transition: 0.9s;
            }
          }
        }
        .navbar__menu-toggle--2{
          color: $dark-color;
          display: flex;
          position: absolute;
          overflow: hidden;

          span {
            transform: translateY(1.2em);

            // MENU BUTTON ANIMATION
            &:nth-child(1) {
              transition: 0.2s;
            }
            &:nth-child(2) {
              transition: 0.3s;
            }
            &:nth-child(3) {
              transition: 0.4s;
            }
            &:nth-child(4) {
              transition: 0.5s;
            }
            &:nth-child(5) {
              transition: 0.6s;
            }
            &:nth-child(6) {
              transition: 0.7s;
            }
            &:nth-child(7) {
              transition: 0.8s;
            }
            &:nth-child(8) {
              transition: 0.9s;
            }
          }
          &:hover span {
            transform: translateY(0);
          }
        }
      }
      .navbar___position-span{
        padding-left: 2vh
      }
    }
  }
}

@include responsive(portrait){
  .projects-desktop{
    display: none;
  }
  .projects-mobile{
    @include flex(column);
    background: $background;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    .projects__holder{
      @include flex(column, $gap: 5rem);
      figure{
        & > div{
          width: 100%;

          @include flex();
          & > div{
            aspect-ratio: 16/9;
            width: 100%;
          }
        }
        figcaption{
          h2{
            margin: 0;
            font-size: $small-heading;
            font-weight: 700;
          }
          p{
            margin: 0;
            font-size: $normal;
            font-weight: 400;
            text-align: justify;
          }
          & > span{
            margin-top: .5rem;
            @include flex($justify: flex-start, $gap: 1rem);
            span{
              border-radius: 15px;
              box-sizing: border-box;
              padding: 5px 10px 5px 10px;
              border: 1px solid $dark-color;
              font-size: $small;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
