.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.bagel-fat-one-regular {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --medium-font: 6vw;
  --big-font: 15vw;
  --small-font: 1vw;
  --normal-font: 1.5vw;
  --small-heading: 2.5vw;
}

#skills-section .skills__container, #intro-section .intro_container, #hero-section-mobile-tablet .hero_container .hero_container, #hero-section-mobile-tablet .hero_container, #hero-section .hero_left-container, #hero-section {
  background-color: #f9f7f3;
}

#hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 100vh;
  z-index: -100;
  position: relative;
  box-sizing: border-box;
}
#hero-section .hero_title h1 {
  z-index: 2;
  font-size: var(--big-font);
  line-height: 80%;
  margin: 0;
  text-shadow: 2px 0 0 white;
}
#hero-section .hero_title h2 {
  text-align: right;
  width: 100%;
}
#hero-section .hero_right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: absolute;
  transform: translateX(100vw);
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgb(29, 29, 29);
}
#hero-section .hero_right-container .hero__photo {
  width: 50%;
  height: 60%;
  background: url(../../img/c8bb9e7a2105ebb57e7a7638dcae825d.jpg) center/cover;
}
#hero-section .hero_bcg-line {
  position: absolute;
  top: -10;
  left: 50%;
  z-index: -1;
  background-color: #DD4083;
  width: 25vw;
  height: 200vw;
  transform: rotate(60deg);
}
#hero-section .hero_left-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: absolute;
  z-index: 1000;
  width: 42vw;
  bottom: 0;
  left: 4vw;
  margin-bottom: 12vh;
  transform: translateX(-100vw);
  border: rgb(29, 29, 29) solid 1px;
}
#hero-section .hero_left-container p {
  color: rgb(29, 29, 29);
  margin: 0.8rem 1rem;
  font-size: var(--normal-font);
  text-align: justify;
}
#hero-section.animated::after {
  transform: rotate(45deg);
  translate: 25% 25%;
}

#hero-section-mobile-tablet {
  width: 100vw;
  height: 100vh;
}
#hero-section-mobile-tablet .hero_container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  gap: 1rem;
  z-index: -10;
}
#hero-section-mobile-tablet .hero_container .hero_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
#hero-section-mobile-tablet .hero_container .hero_title h1 {
  z-index: 2;
  font-size: var(--big-font);
  line-height: 80%;
  margin: 0;
  text-shadow: 2px 0 0 white;
}
#hero-section-mobile-tablet .hero_container .hero-mobile_bcg-line {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%) rotate(-135deg);
  z-index: -1;
  background-color: #DD4083;
  width: 50vw;
  height: 150vh;
}
#hero-section-mobile-tablet .hero_container .hero_container {
  border: rgb(29, 29, 29) solid 1px;
  width: 80%;
  height: fit-content;
  z-index: 10;
}
#hero-section-mobile-tablet .hero_container .hero_container p {
  color: rgb(29, 29, 29);
  margin: 0.8rem 1rem;
  font-size: var(--normal-font);
  text-align: justify;
  z-index: 10;
}

#intro-section {
  border-top: 3px solid rgb(29, 29, 29);
  width: 100%;
  background-color: rgb(29, 29, 29);
}
#intro-section .intro_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 10rem 0;
  gap: 4%;
  width: 100%;
  border-radius: 20px;
}
#intro-section .intro_container .intro_top-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0;
  height: 60%;
  width: 100%;
  padding-left: 5vh;
}
#intro-section .intro_container .intro_top-container h2 {
  margin: 0;
  font-size: var(--medium-font);
  line-height: var(--medium-font);
  transform: translateX(-120%);
  transition: 800ms;
}
#intro-section .intro_container .intro_top-container h2 span {
  text-transform: uppercase;
}
#intro-section .intro_container .intro_top-container h2.active {
  opacity: 1;
  transform: translateX(0);
}
#intro-section .intro_container .intro_top-container h3 {
  margin: 0;
  font-size: var(--normal-font);
  font-weight: 400;
  transform: translateX(-120%);
  transition: 800ms;
}
#intro-section .intro_container .intro_top-container h3.active {
  opacity: 1;
  transform: translateX(0);
}
#intro-section .intro_container .intro_bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 80%;
  height: 5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
}
#intro-section .intro_container .intro_bottom-container a {
  font-size: var(--normal-font);
  text-decoration: none;
  color: rgb(29, 29, 29);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  gap: 0.25rem;
  transition: 800ms;
  transform: translateX(500%);
}
#intro-section .intro_container .intro_bottom-container a.active {
  opacity: 1;
  transform: translateX(0);
}
#intro-section .intro_container .intro_bottom-container a .outer {
  width: 1rem;
  height: 1rem;
  background-color: rgba(221, 64, 131, 0.08);
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
#intro-section .intro_container .intro_bottom-container a .outer .inner {
  height: 50%;
  width: 50%;
  border-radius: 50%;
  background-color: #DD4083;
}
#intro-section .intro_container .intro_bottom-container a:hover {
  transform: scale(1.1);
}
#intro-section .intro_container .intro_bottom-container a:hover::after {
  width: 55%;
}
#intro-section .intro_container .intro_bottom-container a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 10%;
  height: 3px;
  border-radius: 10px;
  width: 0;
  background-color: #DD4083;
  transition: 300ms;
}

#skills-section {
  z-index: 10;
  scroll-margin-top: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100vw;
  height: 75vh;
  background-color: rgb(29, 29, 29);
  border: 2px solid rgb(29, 29, 29);
}
#skills-section .skills__container {
  border-radius: 20px;
  height: 100%;
  width: 100%;
}
#skills-section .skills__left-container {
  border-right: rgb(29, 29, 29) solid 2px;
  padding: 5vh 0;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
#skills-section .skills__left-container .skills__title {
  width: 90%;
}
#skills-section .skills__left-container .skills__title.inactive {
  animation: slide-out-left 800ms ease forwards;
}
#skills-section .skills__left-container .skills__title.inactive h2 span {
  animation: fade-out 800ms ease-in forwards;
}
#skills-section .skills__left-container .skills__title.active {
  animation: slide-in-right 800ms ease forwards;
}
#skills-section .skills__left-container .skills__title.active h2 span {
  animation: fade-in 800ms ease-in forwards;
}
#skills-section .skills__left-container .skills__title.active h2 span:nth-child(2) {
  animation-delay: 300ms;
}
#skills-section .skills__left-container .skills__title.active h2 span:nth-child(3) {
  animation-delay: 450ms;
}
#skills-section .skills__left-container .skills__title.active h2 span:nth-child(4), #skills-section .skills__left-container .skills__title.active h2 span:nth-child(5) {
  animation-delay: 600ms;
}
#skills-section .skills__left-container .skills__title h2 {
  line-height: var(--medium-font);
  font-family: "Cal Sans", sans-serif;
  font-size: var(--medium-font);
  margin: 0;
  font-weight: 600;
}
#skills-section .skills__left-container .skills__title h2 span {
  opacity: 0;
}
#skills-section .skills__right-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 70%;
  font-weight: 400;
}
#skills-section .skills__right-container .skills__span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0;
  width: 100%;
  height: 20%;
  padding: 1rem 0 0 1.5rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  opacity: 0.5;
  font-size: var(--small-font);
}
#skills-section .skills__right-container .skills__items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  gap: 0;
  height: fit-content;
}
#skills-section .skills__right-container .skills__items > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  gap: 0;
  height: 100%;
}
#skills-section .skills__right-container .skills__items > div .skills___item {
  height: 15vw;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  margin: 0;
}
#skills-section .skills__right-container .skills__items > div .skills___item.inactive .skills___logo {
  opacity: 0.6;
}
#skills-section .skills__right-container .skills__items > div .skills___item .skills___logo {
  transition: 300ms;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 80%;
  width: 100%;
}
#skills-section .skills__right-container .skills__items > div .skills___item .skills___logo-1 {
  background-image: url(../../img/html-logo.svg);
}
#skills-section .skills__right-container .skills__items > div .skills___item .skills___logo-2 {
  background-image: url(../../img/css-logo.svg);
}
#skills-section .skills__right-container .skills__items > div .skills___item .skills___logo-3 {
  background-image: url(../../img/javascript-logo-svgrepo-com.svg);
}
#skills-section .skills__right-container .skills__items > div .skills___item .skills___logo-4 {
  background-image: url(../../img/Figma-Icon.svg);
}
#skills-section .skills__right-container .skills__items > div .skills___item .skills___name {
  font-size: var(--normal-font);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
#skills-section .skills__right-container .skills__descriptions {
  height: 20%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  padding-bottom: 1rem;
}
#skills-section .skills__right-container .skills__descriptions p {
  width: 85%;
  height: 50%;
  grid-row: 1;
  grid-column: 1;
  font-size: var(--normal-font);
  opacity: 0;
  transition: 300ms;
}
#skills-section .skills__right-container .skills__descriptions p.active {
  opacity: 1;
  z-index: 2;
}

#temporary-name {
  width: 100vw;
  height: 80vh;
  background-color: rgb(29, 29, 29);
  color: white;
}
#temporary-name .temporary-name__container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  gap: 1rem;
}
#temporary-name .temporary-name__container > div {
  width: 50%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
#temporary-name .temporary-name__container > div > * {
  width: 100%;
}
#temporary-name .temporary-name__container > div.temporary-name_right .project_img a.active {
  animation-delay: 200ms;
}
#temporary-name .temporary-name__container > div .project_img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 0;
  width: 90%;
  height: 100%;
}
#temporary-name .temporary-name__container > div .project_img div {
  height: 20%;
  width: 100%;
  background-color: rgb(29, 29, 29);
}
#temporary-name .temporary-name__container > div .project_img > span,
#temporary-name .temporary-name__container > div .project_img div {
  z-index: 5;
}
#temporary-name .temporary-name__container > div .project_img > span:nth-child(1) {
  font-size: var(--normal-font);
  width: 100%;
  padding-left: 2px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0;
}
#temporary-name .temporary-name__container > div .project_img a {
  cursor: pointer;
  width: 100%;
  max-width: 40rem;
  aspect-ratio: 16/9;
  position: relative;
  transform: translateY(100%);
  background: url("../../img/projects/radianthq-sc.webp") center/cover no-repeat;
}
#temporary-name .temporary-name__container > div .project_img a.active {
  animation: slide-up 1000ms ease forwards;
}
#temporary-name .temporary-name__container > div .project_img a.inactive {
  animation: slide-down 1000ms ease forwards;
}
#temporary-name .temporary-name__container > div .project_img a * {
  color: white;
}
#temporary-name .temporary-name__container > div .project_img a p {
  position: absolute;
  width: 100%;
  margin: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.42);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  text-align: justify;
  font-size: var(--small-font);
  padding: 2rem;
  transition: 300ms;
  opacity: 0;
}
#temporary-name .temporary-name__container > div .project_img a i {
  position: absolute;
  transform: rotate(-45deg);
  right: 0;
  margin: 1rem;
  transition: 300ms;
  opacity: 0;
}
#temporary-name .temporary-name__container > div .project_img a p.active,
#temporary-name .temporary-name__container > div .project_img a i.active {
  opacity: 1;
}
#temporary-name .temporary-name__container > div .project_img > span:nth-child(3) {
  font-size: var(--small-font);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  background-color: rgb(29, 29, 29);
}
#temporary-name .temporary-name__container > div .project_img > span:nth-child(3) p {
  margin: 0;
}
#temporary-name .temporary-name__container figcaption {
  height: 40%;
  width: 80%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100dvw;
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  transform: none;
  z-index: 10000;
  background-color: #f9f7f3;
  border-bottom: 1px solid rgb(29, 29, 29);
  box-sizing: border-box;
  transition: 500ms;
  overflow: hidden;
}
.navbar_container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 100%;
  width: 100%;
  padding: 1rem 1rem;
  position: relative;
}
.navbar__content {
  font-family: Poppins, sans-serif;
  font-weight: 300;
  transition: 500ms;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(29, 29, 29);
}
.navbar__content a {
  text-align: center;
  width: auto;
  height: 100%;
  color: rgb(29, 29, 29);
  text-decoration: none;
  position: relative;
  transition: 100ms;
}
.navbar__content a:hover {
  background-color: #DD4083;
  color: white;
}
.navbar__content a:not(.navbar___contact-link) {
  border-right: 1px solid rgb(29, 29, 29);
}
.navbar__content a:nth-child(1):not(.navbar___logo) {
  border-left: 1px solid rgb(29, 29, 29);
}
.navbar__content a.navbar___logo, .navbar__content a.navbar___contact-link {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.navbar__content a.navbar___contact-link {
  border-left: 1px solid rgb(29, 29, 29);
}
.navbar__content .navbar____links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 100%;
}
.navbar__content .navbar____links a {
  width: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 10px;
}
.navbar__scroll-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  transition: 500ms;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-20vw);
  color: rgb(29, 29, 29);
  display: flex;
  width: 100vw;
  overflow: hidden;
}
.navbar__scroll-info a {
  text-decoration: none;
  color: rgb(29, 29, 29);
}
.navbar__scroll-info > span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin-left: 1vh;
}
.navbar__scroll-info > span .navbar___menu-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: rgba(0, 0, 0, 0);
  font-family: Poppins, sans-serif;
  cursor: pointer;
  border: none;
  position: relative;
  font-size: 1rem;
}
.navbar__scroll-info > span .navbar___menu-button:hover .navbar__menu-toggle span {
  transform: translateY(-1.5em);
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--1 {
  display: flex;
  overflow: hidden;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--1:hover {
  position: absolute;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--1 span {
  color: rgb(29, 29, 29);
  transform: translateY(0);
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--1 span:nth-child(1) {
  transition: 0.2s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--1 span:nth-child(2) {
  transition: 0.3s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--1 span:nth-child(3) {
  transition: 0.4s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--1 span:nth-child(4) {
  transition: 0.5s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--1 span:nth-child(5) {
  transition: 0.6s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--1 span:nth-child(6) {
  transition: 0.7s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--1 span:nth-child(7) {
  transition: 0.8s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--1 span:nth-child(8) {
  transition: 0.9s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--2 {
  color: rgb(29, 29, 29);
  display: flex;
  position: absolute;
  overflow: hidden;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--2 span {
  transform: translateY(1.2em);
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--2 span:nth-child(1) {
  transition: 0.2s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--2 span:nth-child(2) {
  transition: 0.3s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--2 span:nth-child(3) {
  transition: 0.4s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--2 span:nth-child(4) {
  transition: 0.5s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--2 span:nth-child(5) {
  transition: 0.6s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--2 span:nth-child(6) {
  transition: 0.7s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--2 span:nth-child(7) {
  transition: 0.8s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--2 span:nth-child(8) {
  transition: 0.9s;
}
.navbar__scroll-info > span .navbar___menu-button .navbar__menu-toggle--2:hover span {
  transform: translateY(0);
}
.navbar__scroll-info > span .navbar___position-span {
  padding-left: 2vh;
}
.navbar.scrolled {
  height: 4vh;
}
.navbar.scrolled .navbar__content {
  transform: translateY(-13vh);
}
.navbar.scrolled .navbar__scroll-info {
  display: flex;
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.navbar.scrolled .navbar__scroll-info .navbar___menu-button {
  z-index: 10002;
}
.navbar.scrolled.active {
  height: 100vh;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: fixed;
  font-weight: 600;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  background-color: #f9f7f3;
  transition: 400ms;
  top: 0;
  right: 0;
  transform: rotate(90deg);
  transform-origin: top right;
}
#menu.active {
  z-index: 100;
  opacity: 1;
  transform: rotate(0);
}
#menu .menu_left {
  background-color: rgb(29, 29, 29);
  height: 100%;
  width: 20%;
}
#menu .menu_right {
  background-color: #f9f7f3;
  width: 80%;
  height: 100%;
}
#menu .menu_right .menu__list {
  height: 100%;
  margin: 0;
  padding: 0;
}
#menu .menu_right .menu__list .menu__items {
  border-bottom: 1px solid rgb(29, 29, 29);
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
#menu .menu_right .menu__list .menu__items > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
#menu .menu_right .menu__list .menu__items .menu___number {
  width: 20%;
  height: 100%;
  border-right: 1px rgb(29, 29, 29) solid;
}
#menu .menu_right .menu__list .menu__items .menu___link {
  width: 80%;
  justify-content: flex-start;
  padding-left: 3rem;
}
#menu .menu_right .menu__list .menu__items a {
  text-decoration: none;
  color: rgb(29, 29, 29);
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
  .navbar {
    display: none;
  }
  .mobile-nav {
    transition: 500ms;
    z-index: 10000;
    position: fixed;
    color: rgb(29, 29, 29);
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 4vh;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f9f7f3;
    border-bottom: rgb(29, 29, 29) 1px solid;
  }
  .mobile-nav a {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .mobile-nav > span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vh;
  }
  .mobile-nav > span .mobile-nav__menu-button {
    font-size: 1rem;
    font-family: Poppins, sans-serif;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: transparent;
  }
  .mobile-nav > span .mobile-nav__menu-button:hover .mobile-nav_menu-toggle span {
    transform: translateY(-1.2em);
  }
  .mobile-nav > span .mobile-nav__menu-button .mobile-nav_menu-toggle--1 {
    display: flex;
    overflow: hidden;
  }
  .mobile-nav > span .mobile-nav__menu-button .mobile-nav_menu-toggle--1:hover {
    position: absolute;
  }
  .mobile-nav > span .mobile-nav__menu-button .mobile-nav_menu-toggle--1 span {
    color: rgb(29, 29, 29);
    transform: translateY(0);
  }
  .mobile-nav > span .mobile-nav__menu-button .mobile-nav_menu-toggle--1 span:nth-child(1) {
    transition: 0.2s;
  }
  .mobile-nav > span .mobile-nav__menu-button .mobile-nav_menu-toggle--1 span:nth-child(2) {
    transition: 0.3s;
  }
  .mobile-nav > span .mobile-nav__menu-button .mobile-nav_menu-toggle--1 span:nth-child(3) {
    transition: 0.4s;
  }
  .mobile-nav > span .mobile-nav__menu-button .mobile-nav_menu-toggle--1 span:nth-child(4) {
    transition: 0.5s;
  }
  .mobile-nav > span .mobile-nav__menu-button .mobile-nav_menu-toggle--1 span:nth-child(5) {
    transition: 0.6s;
  }
  .mobile-nav > span .mobile-nav__menu-button .mobile-nav_menu-toggle--1 span:nth-child(6) {
    transition: 0.7s;
  }
  .mobile-nav > span .mobile-nav__menu-button .mobile-nav_menu-toggle--1 span:nth-child(7) {
    transition: 0.8s;
  }
  .mobile-nav > span .mobile-nav__menu-button .mobile-nav_menu-toggle--1 span:nth-child(8) {
    transition: 0.9s;
  }
  .mobile-nav > span .mobile-nav__menu-button .mobile-nav_menu-toggle--2 {
    color: rgb(29, 29, 29);
    display: flex;
    position: absolute;
    overflow: hidden;
  }
  .mobile-nav > span .mobile-nav__menu-button .mobile-nav_menu-toggle--2 span {
    transform: translateY(1.2em);
  }
  .mobile-nav > span .mobile-nav__menu-button .mobile-nav_menu-toggle--2 span:nth-child(1) {
    transition: 0.2s;
  }
  .mobile-nav > span .mobile-nav__menu-button .mobile-nav_menu-toggle--2 span:nth-child(2) {
    transition: 0.3s;
  }
  .mobile-nav > span .mobile-nav__menu-button .mobile-nav_menu-toggle--2 span:nth-child(3) {
    transition: 0.4s;
  }
  .mobile-nav > span .mobile-nav__menu-button .mobile-nav_menu-toggle--2 span:nth-child(4) {
    transition: 0.5s;
  }
  .mobile-nav > span .mobile-nav__menu-button .mobile-nav_menu-toggle--2 span:nth-child(5) {
    transition: 0.6s;
  }
  .mobile-nav > span .mobile-nav__menu-button .mobile-nav_menu-toggle--2 span:nth-child(6) {
    transition: 0.7s;
  }
  .mobile-nav > span .mobile-nav__menu-button .mobile-nav_menu-toggle--2 span:nth-child(7) {
    transition: 0.8s;
  }
  .mobile-nav > span .mobile-nav__menu-button .mobile-nav_menu-toggle--2 span:nth-child(8) {
    transition: 0.9s;
  }
  .mobile-nav > span .mobile-nav__menu-button .mobile-nav_menu-toggle--2:hover span {
    transform: translateY(0);
  }
  .mobile-nav .navbar___menu-button {
    z-index: 10002;
  }
}
footer {
  position: relative;
  background-color: rgb(29, 29, 29);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 80vh;
  z-index: 10;
  width: 100vw;
  overflow: hidden;
}
footer .contact__container {
  transition: 800ms;
  transform: translateY(100%);
  padding: 8vw 2vw 4vw 2vw;
  background-color: #f9f7f3;
  width: 100%;
  height: 100%;
  z-index: 100;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
footer .contact__container.active {
  transform: translateY(0%);
}
footer .contact__container .contact {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
footer .contact__container .contact__title {
  width: 100%;
  height: 20%;
  font-size: var(--medium-font);
  line-height: var(--medium-font);
  margin-bottom: 1rem;
}
footer .contact__container .contact__email {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
}
footer .contact__container .contact__email-label {
  font-size: var(--small-font);
}
footer .contact__container .contact__email-button {
  font-size: var(--small-heading);
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 800;
  padding: 0;
  transition: 300ms;
}
footer .contact__container .contact__email-button:hover {
  transform: translateX(10%);
}
footer .contact__container .contact__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
  width: 100%;
  height: 60%;
  margin-top: 3.5vw;
}
footer .contact__container .contact__info-logo {
  width: 50%;
  height: 18vw;
  object-fit: cover;
  object-position: top;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
}
footer .contact__container .contact__info .contact__location {
  font-style: normal;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0;
}
footer .contact__container .contact__info .contact__location-title {
  font-size: var(--small-heading);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0;
}
footer .contact__container .contact__info .contact__location-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0;
}
footer .contact__container .contact__info .contact__location-details > * {
  margin: 0;
}
footer .contact__container .contact__info .contact__location-details strong {
  opacity: 0.5;
  font-size: var(--small-font);
}
footer .contact__container .footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 20%;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  font-size: var(--small-font);
}
footer .contact__container .footer-info__socials {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer .contact__container .footer-info__socials li a {
  transition: 300ms;
  color: rgb(29, 29, 29);
  text-decoration: none;
}
footer .contact__container .footer-info__socials li a:hover {
  color: #DD4083;
}

::selection {
  background: #dd4083;
}

.bold-heading {
  font-family: Poppins, sans-serif;
  font-weight: 1000;
  letter-spacing: -10px;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 20px;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background-color: rgb(29, 29, 29);
  color: rgb(29, 29, 29);
  width: 100dvw;
}

* {
  box-sizing: border-box;
}

.change-content::after {
  content: "hover";
}

.mobile-only {
  display: none;
}

.visually-hidden {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

u {
  text-decoration: none;
  position: relative;
}
u::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #DD4083;
  border-radius: 5px;
}

/*
// -LOADING SCREEN
#loading-screen {
    position: fixed;
    z-index: 100000;
    top: 0;
    @extend %section;
    @extend %light-background;
    @include flex();

    img {
        width: 100%;
    }

    &.hidden {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
} */
.moving-text {
  font-weight: 600;
  height: 3rem;
  overflow: hidden;
  position: relative;
  background-color: rgb(29, 29, 29);
  color: white;
  border: rgb(29, 29, 29) solid 2px;
}
.moving-text .moving-text__inner {
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  animation: infinitemove 30s linear infinite;
  height: 100%;
}
.moving-text .moving-text__inner span {
  padding: 0 10px;
  display: inline-block;
  white-space: nowrap;
  text-transform: uppercase;
}

@media only screen and (max-width: 2200px) and (min-width: 1740px) {
  html {
    font-size: 25px;
  }
}
@media only screen and (max-width: 1749px) and (min-width: 1400px) {
  html {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 1001px) {
  html {
    font-size: 18px;
  }
  #hero-section .hero_left-container {
    left: 5vw;
    width: 40vw;
  }
  #about-section {
    height: 70vh;
  }
  #skills-section {
    height: 70vh;
  }
  #skills-section .skills__items {
    margin-bottom: 2rem;
  }
  #skills-section .skills__title {
    width: 60%;
  }
  #skills-section .skills__title h2 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 900px) {
  html {
    font-size: 16px;
  }
  #hero-section .hero_left-container {
    left: 2.25vw;
    width: 45vw;
    margin-bottom: 10vh;
  }
}
@media only screen and (max-width: 900px) {
  #temporary-name {
    padding-top: 10vw;
    padding-bottom: 10vw;
  }
  #temporary-name .temporary-name__container > div {
    height: fit-content;
  }
  #temporary-name .temporary-name__container > div .project_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  #temporary-name .temporary-name__container > div .project_img a {
    transform: translateY(0);
  }
  #temporary-name .temporary-name__container > div .project_img div {
    display: none;
  }
  .mobile-only {
    display: flex;
  }
}
@media only screen and (max-width: 900px) and (min-width: 700px) {
  :root {
    --medium-font: 6vw;
    --big-font: 15vw;
    --small-font: 1.8vw;
    --normal-font: 2vw;
  }
  html {
    font-size: 16px;
  }
  #skills-section {
    height: 90vh;
    flex-direction: column;
  }
  #skills-section .skills__left-container {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    border-bottom: 2px solid rgb(29, 29, 29);
  }
  #skills-section .skills__left-container h2 {
    text-align: center;
  }
  #skills-section .skills__right-container {
    width: 100%;
    height: 70%;
  }
  #skills-section .skills__right-container .skills__items > div .skills___item {
    width: 20vw;
    height: 20vw;
  }
  #temporary-name {
    height: 50vw;
  }
  #temporary-name .temporary-name__container {
    flex-direction: row;
  }
}
@media (orientation: portrait) {
  :root {
    --medium-font: 9vw;
    --big-font: 14.5vw;
    --normal-font: 4vw;
    --small-font: 3vw;
    --small-heading: 5vw;
  }
  .mobile-only {
    display: flex;
  }
  #hero-section {
    display: none;
  }
  #hero-section-mobile-tablet {
    height: 100vh;
    width: 100vw;
  }
  #hero-section-mobile-tablet .hero_container .hero_title h2 {
    font-size: var(--normal-font);
  }
  #about-section {
    height: fit-content10vh;
  }
  #skills-section {
    flex-direction: column;
  }
  #skills-section .skills__left-container {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    border-bottom: 2px solid rgb(29, 29, 29);
  }
  #skills-section .skills__left-container h2 {
    text-align: center;
  }
  #skills-section .skills__right-container {
    width: 100%;
    height: 70%;
  }
  #skills-section .skills__right-container .skills__items > div .skills___item {
    width: 25vw;
    height: 25vw;
  }
  #temporary-name {
    height: 120vw;
  }
  #temporary-name .temporary-name__container {
    flex-direction: column;
  }
  #temporary-name .temporary-name__container > div {
    width: 80%;
  }
  .intro_top-container {
    padding-left: 0;
  }
}
@media only screen and (orientation: portrait) and (max-width: 700px) {
  html {
    font-size: 16px;
  }
  #hero-section .hero_left-container {
    left: 2.25vw;
    width: 45vw;
    margin-bottom: 25vh;
  }
  #intro-section .intro_container .intro_top-container {
    padding-left: 3vw;
  }
  #skills-section {
    height: fit-content;
  }
  #skills-section .skills__right-container {
    height: 50vw;
    transition: 800ms;
    justify-content: flex-start;
  }
  #skills-section .skills__right-container.active {
    height: 80vw;
  }
  #skills-section .skills__right-container .skills__items {
    flex-direction: row;
  }
  footer .contact__container .contact__info {
    flex-direction: column;
    align-items: flex-start;
  }
  footer .contact__container .contact__info .contact__location {
    align-items: flex-start;
    width: 100%;
  }
  footer .contact__container .contact__info .contact__location-details {
    align-items: flex-start;
  }
  footer .contact__container .footer-info {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    gap: 1rem;
  }
  footer .contact__container .footer-info__socials {
    padding: 0;
    margin: 0;
  }
  footer .contact__container .footer-info p {
    margin: 0;
  }
}
@media (hover: none) {
  .skills__span .change-content::after {
    content: "click";
  }
}
@keyframes infinitemove {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
@keyframes slide-in-left {
  0% {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes slide-out-left {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
    opacity: 2;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translatex(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in {
  0% {
    transform: translatex(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes height-animation {
  0% {
    height: 0;
  }
  100% {
    height: 300vh;
  }
}
.fade-animation {
  animation: fade-in 1000ms ease forwards;
}

.slide-in-anim-left {
  animation: slide-in-left 1000ms ease forwards;
}

.slide-in-anim-right {
  animation: slide-in-right 1000ms ease forwards;
}

.height-change {
  animation: height-animation 2000ms ease forwards;
}

/*# sourceMappingURL=style.css.map */
