



// --------------------------
// FONTS
// --------------------------



.cherry-bomb-one-regular {
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.bagel-fat-one-regular {
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.cal-sans-regular {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

// --------------------------
// BASE STYLING
// --------------------------
// BASE
@import '../base/variables';
@import '../base/mixins';
@import '../base/placeholders';

// COMPONENTS
@import '../components/hero';
@import '../components/intro';
@import '../components/skills';
@import '../components/projects';
//@import '../components/contact';

@import '../components/navbar';
@import '../components/footer';


::selection {
    //background: rgba(162, 162, 162, 0.54);
    background: #dd4083;
}

.bold-heading{
    font-family:$main-font;
    font-weight: 1000;
    letter-spacing: -10px;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 20px;
}

body {
    margin: 0;
    font-family: $main-font;
    background-color: $dark-color;
    color: $dark-color;
    width: 100dvw;
}

* {
    box-sizing: border-box;
}

.change-content::after{
    content: "hover";
}
.mobile-only {
    display: none;
}

.visually-hidden {
    display: none;
}

.overflow-hidden {
    overflow: hidden;
}

u {
    text-decoration: none;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 10%;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $main-color;
        border-radius: 5px;
    }
}

// -MOVING TEXT
.moving-text {
    font-weight: $bold-weight;
    height: 3rem;
    overflow: hidden;
    position: relative;
    background-color: $dark-color;
    color: white;
    border: $dark-color solid 2px;

    .moving-text__inner {
        width: max-content;
        @include flex();
        animation: infinitemove 30s linear infinite;
        height: 100%;

        span {
            padding: 0 10px;
            display: inline-block;
            white-space: nowrap;
            text-transform: uppercase;
        }
    }
}

// ---------------------
// MEDIA QUERIES
// ---------------------

@include responsive(xlarge) {
    html {
        font-size: 25px;
    }
}

@include responsive(desktop) {
    html {
        font-size: 20px;
    }
}

@include responsive(laptop) {
    html {
        font-size: 18px;
    }
}

@include responsive(tablet) {
    html {
        font-size: 16px;
    }
}

@include responsive(mobile-tablet) {

    // oNLY TABLET
    @media (min-width: 700px) {
        :root {
            --medium-font: 6vw;
            --big-font: 12vw;
            --small-font: 1.8vw;
            --normal-font: 2vw;
        }

        html {
            font-size: 16px;
        }

    }
}

@include responsive(portrait) {
    :root {
        --medium-font: 9vw;
        --big-font: 10.5vw;
        --normal-font: 4vw;
        --small-font: 3vw;
        --small-heading: 5vw;
    }

    .mobile-only {
        display: flex;
    }



    @media only screen and (max-width: 700px) {
        html {
            font-size: 16px;
        }

        footer{
            .contact__container {
                .contact{
                    &__info{
                        flex-direction: column;
                        align-items: flex-start;
                        .contact__location{
                            align-items: flex-start;
                            width: 100%;
                            &-details{
                                align-items: flex-start;
                            }
                        }
                    }
                }
                .footer-info{
                    flex-direction: column-reverse;
                    align-items: center;
                    justify-content: center;
                    padding-top: 2vh;
                    padding-bottom: 2vh;
                    gap: 1rem;
                    &__socials{
                        padding: 0;
                        margin: 0;
                    }
                    p{
                        margin: 0;
                    }
                }
            }

        }
    }
}





// ---------------------
// KEYFRAMES
// ---------------------
@keyframes infinitemove {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

@keyframes slide-in-left {
    0% {
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes slide-out-left {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    100% {
        transform: translate3d(-100%, 0, 0);
        opacity: 2;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translatex(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in {
    0% {
        transform: translatex(-100%);
    }
    100% {
        transform: translateX(0);
    }
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes height-animation {
    0% {
        height: 0;
    }
    100% {
        height: 300vh;
    }
}

// ANIMATION
.fade-animation {
    animation: fade-in 1000ms ease forwards;
}

.slide-in-anim-left {
    animation: slide-in-left 1000ms ease forwards;
}

.slide-in-anim-right {
    animation: slide-in-right 1000ms ease forwards;
}

.height-change {
    animation: height-animation 2000ms ease forwards;
}