:root {
  --medium-font: 6vw;
  --big-font: 15vw;
  --small-font: 1vw;
  --normal-font: 1.5vw;
  --small-heading: 2.5vw;
}

.projects-intro {
  height: 100vh;
  width: 100vw;
}

footer {
  position: relative;
  background-color: rgb(29, 29, 29);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 80vh;
  z-index: 10;
  width: 100vw;
  overflow: hidden;
}
footer .contact__container {
  transition: 800ms;
  transform: translateY(100%);
  padding: 8vw 2vw 4vw 2vw;
  background-color: #f9f7f3;
  width: 100%;
  height: 100%;
  z-index: 100;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
footer .contact__container.active {
  transform: translateY(0%);
}
footer .contact__container .contact {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
footer .contact__container .contact__title {
  width: 100%;
  height: 20%;
  font-size: var(--medium-font);
  line-height: var(--medium-font);
  margin-bottom: 1rem;
}
footer .contact__container .contact__email {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
}
footer .contact__container .contact__email-label {
  font-size: var(--small-font);
}
footer .contact__container .contact__email-button {
  font-size: var(--small-heading);
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 800;
  padding: 0;
  transition: 300ms;
}
footer .contact__container .contact__email-button:hover {
  transform: translateX(10%);
}
footer .contact__container .contact__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
  width: 100%;
  height: 60%;
  margin-top: 3.5vw;
}
footer .contact__container .contact__info-logo {
  width: 50%;
  height: 18vw;
  object-fit: cover;
  object-position: top;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
}
footer .contact__container .contact__info .contact__location {
  font-style: normal;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0;
}
footer .contact__container .contact__info .contact__location-title {
  font-size: var(--small-heading);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0;
}
footer .contact__container .contact__info .contact__location-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0;
}
footer .contact__container .contact__info .contact__location-details > * {
  margin: 0;
}
footer .contact__container .contact__info .contact__location-details strong {
  opacity: 0.5;
  font-size: var(--small-font);
}
footer .contact__container .footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 20%;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  font-size: var(--small-font);
}
footer .contact__container .footer-info__socials {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer .contact__container .footer-info__socials li a {
  transition: 300ms;
  color: rgb(29, 29, 29);
  text-decoration: none;
}
footer .contact__container .footer-info__socials li a:hover {
  color: #DD4083;
}

.projects-intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}

body {
  margin: 0;
  background-color: #f9f7f3;
}

/*# sourceMappingURL=projects-style.css.map */
