
:root {
    --medium-font: 6vw;
    --big-font: 15vw;
    --small-font: 1vw;
    --normal-font: 1.5vw;
}


// --------------------------
// FONTS
// --------------------------
@font-face {
    font-family: moonget;
    src: url(../fonts/moon_get/moon_get-Heavy.ttf);
}


.cherry-bomb-one-regular {
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.bagel-fat-one-regular {
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.cal-sans-regular {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

// --------------------------
// BASE STYLING
// --------------------------
// BASE
@import 'base/variables';
@import 'base/mixins';
@import 'base/placeholders';



// COMPONENTS
@import 'components/hero';
@import 'components/intro';
@import 'components/skills';
@import 'components/projects';
@import 'components/contact';

@import 'components/navbar';
@import 'components/footer';


::selection {
    background: rgba(162, 162, 162, 0.54);
}


html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 20px;
}

body {
    margin: 0;
    font-family: $main-font;
    background-color: $background;
    color: $dark-color;
    width: 100dvw;
}

* {
    box-sizing: border-box;
}

.change-content::after{
    content: "hover";
}
.mobile-only {
    display: none;
}

.visually-hidden {
    display: none;
}

.overflow-hidden {
    overflow: hidden;
}

u {
    text-decoration: none;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 10%;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $main-color;
        border-radius: 5px;
    }
}

// -LOADING SCREEN
#loading-screen {
    position: fixed;
    z-index: 100000;
    top: 0;
    @extend %section;
    @extend %light-background;
    @include flex();

    img {
        width: 100%;
    }

    &.hidden {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}



// -MOVING TEXT
.moving-text {
    font-weight: $bold-weight;
    height: 3rem;
    overflow: hidden;
    position: relative;
    background-color: $dark-color;
    color: white;
    border: $dark-color solid 2px;
    border-width: 2px 0;

    .moving-text__inner {
        width: max-content;
        @include flex();
        animation: infinitemove 30s linear infinite;
        height: 100%;

        span {
            padding: 0 10px;
            display: inline-block;
            white-space: nowrap;
            text-transform: uppercase;
        }
    }
}

// ---------------------
// MEDIA QUERIES (USING MIXIN)
// ---------------------

@include respond(xlarge) {
    html {
        font-size: 25px;
    }
}

@include respond(desktop) {
    html {
        font-size: 20px;
    }
}

@include respond(laptop) {
    html {
        font-size: 18px;
    }

    #hero-section {
        .hero_left-container {
            left: 5vw;
            width: 40vw;
        }
    }

    #about-section {
        height: 70vh;
    }

    #skills-section {
        height: 70vh;

        .skills__items {
            margin-bottom: 2rem;
        }

        .skills__title {
            width: 60%;

            h2 {
                font-size: 3rem;
            }
        }
    }
}

@include respond(tablet) {
    html {
        font-size: 16px;
    }

    #hero-section {
        .hero_left-container {
            left: 2.25vw;
            width: 45vw;
            margin-bottom: 15vh;
        }
    }
}

@include respond(mobile-tablet) {
    #temporary-name {
        height: 120vh;
        padding-top: 10vw;
        padding-bottom: 10vw;

        .temporary-name__container > div {
            .project_img {
                @include flex(column);

                a {
                    transform: translateY(0);
                }

                div {
                    display: none;
                }
            }
        }
    }

    #hero-section {
        .hero_left-container {
            left: 2.25vw;
            width: 45vw;
        }
    }

    @media (min-width: 500px) {
        html {
            font-size: 16px;
        }

        #skills-section {
            flex-direction: column;

            .skills__left-container {
                width: 100%;
                height: 30%;
                @include flex(column);
                border-bottom: 2px solid $dark-color;

                h2 {
                    text-align: center;
                }
            }

            .skills__right-container {
                width: 100%;
                height: 70%;
            }

            .skills__title h2 {
                font-size: 3rem;
            }
        }

        #temporary-name {
            .temporary-name__container {
                flex-direction: column;

                & > div {
                    width: 80%;
                }
            }
        }
    }
}

@include respond(portrait) {
    :root {
        --medium-font: 6vw;
        --big-font: 14.5vw;
        --normal-font: 3vw;
    }

    .mobile-only {
        display: flex;
    }

    #hero-section {
        display: none;
    }

    #hero-section-mobile-tablet {
        height: 100vh;
        width: 100vw;

        .hero_container {
            .hero_title h2 {
                font-size: var(--normal-font);
            }
        }
    }

    #about-section {
        height: fit-content + 10vh;
    }

    #skills-section {
        flex-direction: column;

        .skills__left-container {
            width: 100%;
            height: 30%;
            @include flex(column);
            border-bottom: 2px solid $dark-color;

            h2 {
                text-align: center;
            }
        }

        .skills__right-container {
            width: 100%;
            height: 70%;
        }
    }

    #temporary-name {
        .temporary-name__container {
            flex-direction: column;

            & > div {
                width: 80%;
            }
        }
    }

    .intro_top-container {
        padding-left: 0;
    }

    @media only screen and (max-width: 600px) {
        html {
            font-size: 16px;
        }

        #hero-section {
            .hero_left-container {
                left: 2.25vw;
                width: 45vw;
                margin-bottom: 25vh;
            }
        }

        #intro-section {
            .intro_container {
                .intro_top-container {
                    padding-left: 3vw;
                }
            }
        }

        #skills-section {
            height: fit-content;

            .skills__right-container {
                height: fit-content;

                .skills__items {
                    flex-direction: column;
                }
            }
        }
    }
}

@include respond(no-hover) {
    .skills__span {
        .change-content::after {
            content: "click";
        }
    }
}

// ---------------------
// KEYFRAMES
// ---------------------
@keyframes infinitemove {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

@keyframes slide-in-left {
    0% {
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes slide-out-left {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    100% {
        transform: translate3d(-100%, 0, 0);
        opacity: 2;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translatex(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in {
    0% {
        transform: translatex(-100%);
    }
    100% {
        transform: translateX(0);
    }
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes height-animation {
    0% {
        height: 0;
    }
    100% {
        height: 300vh;
    }
}

// ANIMATION
.fade-animation {
    animation: fade-in 1000ms ease forwards;
}

.slide-in-anim-left {
    animation: slide-in-left 1000ms ease forwards;
}

.slide-in-anim-right {
    animation: slide-in-right 1000ms ease forwards;
}

.height-change {
    animation: height-animation 2000ms ease forwards;
    animation-delay: 2.8s;
}